mixin question(number, title, picture, modifier)
  .question&attributes(attributes)
    .question__number= number
    .question__content
      h3= title
      +custom-radio('id1', 'Документы нужны будут самые разные')
      +custom-radio('id2', 'Понятия не имею, что будет нужно, но я все сделаю')
      +custom-radio('id3', 'О чем вы спрашиваете?')
    .question__picture(style="background-image: url(./img/" + picture + ");")
    a.question__btn(href="#")