.question {
  background: #fff;
  border-radius: 2px;
  padding: 30px 60px 50px 30px;
  display: flex;
  margin-bottom: 20px;
  position: relative;

  @include media-breakpoint-down(md) {
    padding: 20px 40px 20px 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding-right: 20px;
  }
  
  &__number {
    color: #ebf0f4;
    font-size: 72px;
    line-height: .72;
    letter-spacing: .57px;
    margin-right: 20px;
    flex-shrink: 0;
    font-family: $font-family-second;

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }
  
  &__content {
    padding-top: 20px;

    @include media-breakpoint-down(sm) {
      order: 3;
    }
  }
  
  &__picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 100px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(md) {
      margin-left: 20px;
      width: 120px;
      height: 120px;
    }

    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }
  
  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
    top: 20px;
    right: 25px;

    @include media-breakpoint-down(md) {
      top: 10px;
      right: 10px;
    }
  }
  
  &--done {
    
    .question__btn {
      background: url(../img/check--colored.svg) no-repeat center;
      background-size: 60%;
      border: 2px solid $primary;
    }
    
    &:hover {
      
      .question__btn {
        background: $primary url(../img/pen.svg) no-repeat center;
      }
    }
  }
  
  &--inactive {
    opacity: .4;
  }
}
