mixin modal(title, modifier)
  .modal&attributes(attributes)
    h3= title
    if modifier == 'modal--success'
      p.mt-25.mb-25 Мы свяжемся с Вами в самое ближайшее время.
      a.btn.btn-secondary.px-35(href="#") Ok
    else
      form.form(action="#", method="POST")
        if modifier == 'modal--consultation'
          .select.modal__select
            select.select__input.select__input--branch
              option
              option Направление 1
              option Направление 2
        .form__item.form-group
          input.input.form__item-input.form-control(type="text")
          label.form__item-label Ваше имя
        .form__item.form-group
          input.input.form__item-input.form-control(type="text")
          label.form__item-label Номер мобильного телефона
        button.btn.btn-secondary.px-45.mt-5(type="submit" disabled) Позвоните мне