.modal {
  display: none;
  width: 100%;
  max-width: 530px;
  padding: 30px 20px 35px;
  box-shadow: 0 2px 15px rgba(70, 74, 79, 0.2);
  border-radius: 3px;
  
  &__select {
    margin-bottom: 30px;
  }
}
