h1 {
  
}

h2 {
  font-size: 40px;
  line-height: 1.15;
  font-family: $font-family-second;
  letter-spacing: .32px;
  color: $secondary;
  margin-bottom: 35px;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h3 {
  font-size: 27px;
  line-height: 1.3;
  letter-spacing: .22px;
  color: $secondary;
  font-family: $font-family-second;
  font-weight: 400;
  margin-bottom: 25px;

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
  
  a {
    color: $secondary;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
}

h4 {
  
}

h5 {
  
}

h6 {
  
}

p {
  font-size: 15px;
  color: $secondary;
  line-height: 1.67;
  margin-bottom: 25px;
  
  &.p--lg {
    color: $secondary;
    font-size: 17px;
    line-height: 1.47;
  }
  
  &.p--sm {
    font-size: 13px;
    color: $secondary;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}

.border-radius {
  border-radius: 2px;
}