@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('../fonts/AktivGroteskCorp-Medium.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('../fonts/AktivGroteskCorp-Bold.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fugue';
    src: url('../fonts/Fugue-Regular.woff2') format('woff2'),
        url('../fonts/Fugue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}