.cover {
  position: relative;
  
  &__picture-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  &__picture {
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, .8);
      }
    }
  }
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 0 100px;

    @include media-breakpoint-down(sm) {
      padding: 40px 0 80px;
    }
  }
  
  &__back {
    font-size: 15px;
    color: $secondary;
    line-height: 1.67;
    display: flex;
    align-items: center;
    margin-top: 70px;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 11px;
      margin-right: 10px;
      background: url(../img/arrow--simple-left.svg) no-repeat;
      background-size: contain;
      margin-top: 2px;
    }
  }
  
  &--back {
    
    .cover__wrapper {
      padding-bottom: 25px;
    }
  }
  
  &--search {
    
    .cover__wrapper {
      padding-bottom: 20px;
    }
    
    h2 {
      color: #fff;

      @include media-breakpoint-down(lg) {
        color: $secondary;
      }
    }
    
    p {
      color: #fff;

      @include media-breakpoint-down(lg) {
        color: $secondary;
      }
    }
    
    .cover__back {
      color: #fff;

      @include media-breakpoint-down(lg) {
        color: $secondary;
      }

      &:hover {
        opacity: .7;
        color: #fff;

        @include media-breakpoint-down(lg) {
          color: $secondary;
        }
      }
      
      &:before {
        background: url(../img/arrow--simple-left-white.svg) no-repeat;
        background-size: contain;

        @include media-breakpoint-down(lg) {
          background: url(../img/arrow--simple-left.svg) no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
