mixin cover(bg, title, dscr, btn, modifier)
  .cover&attributes(attributes)
    .cover__picture-wrapper
      .cover__picture(style="background-image: url(./img/" + bg + ")")
    .container
      .row
        .col-lg-6
          .cover__wrapper
            h2.mb-0!= title
            if modifier == 'cover--title'
            else
              p.p--lg.mt-35.mb-0!= dscr
            if modifier == 'cover--btn' || modifier =='cover--back cover--btn'
              a.btn.btn-secondary.mt-50(href="#")= btn
            if modifier == 'cover--back' || modifier == 'cover--search' || modifier =='cover--back cover--btn'
              a.cover__back(href="#") Назад
    if modifier == 'cover--search'
      +search(class="search--small")
            