.custom-checkbox {
  padding-left: 25px;
  margin-bottom: 15px;
  
  .custom-control-input {
    
    &:focus {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:before, &:after {
          box-shadow: none;
        }
      }
    }
    
    &:checked {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:after {
          background-image: none!important;
          background-color: $secondary!important;
          background: url(../img/check.svg) no-repeat center!important;
          background-size: 70% auto!important;
        }
      }
    }
  }
  
  .custom-control-label {
    color: $secondary;
    font-size: 13px;
    
    &:before {
      width: 15px;
      height: 15px;
      border: 1px solid rgba($secondary, .53);
      border-radius: 3px;
      background: transparent!important;
      margin-top: -3px;
      left: -25px;
    }
    
    &:after {
      width: 15px;
      height: 15px;
      margin-top: -3px;
      left: -25px;
      background: transparent;
      background-image: none!important;
    }
  }
  
  &--big {
    padding-left: 35px;
  
    .custom-control-label {
      color: $secondary;
      font-size: 13px;

      &:before {
        width: 20px;
        height: 20px;
        left: -35px;
        margin-top: -4px;
      }

      &:after {
        width: 20px;
        height: 20px;
        left: -35px;
        margin-top: -4px;
      }
    }
  }
}
