mixin custom-checkbox(id, label, modifier)
  .custom-checkbox.custom-checkbox&attributes(attributes)
    input.custom-control-input(type='checkbox', id=id)
    label.custom-control-label(for=id)= label
