mixin stars(star1, star2, star3, star4, star5, modifier)
  .stars&attributes(attributes)
    a.stars__item(href="#", class=star1)
    a.stars__item(href="#", class=star2)
    a.stars__item(href="#", class=star3)
    a.stars__item(href="#", class=star4)
    a.stars__item(href="#", class=star5)