.stars {
  display: flex;
  align-items: center;
  
  &__item {
    background: url(../img/star.svg) no-repeat;
    background-size: contain;
    width: 14px;
    height: 13px;
    
    &+& {
      margin-left: 6px;
    }
    
    &--full {
      background: url(../img/star--full.svg) no-repeat;
      background-size: contain;
    }
  }
}
