/* Bootstrap */

.container {
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.btn {
  border-radius: 3px;
  padding: 13.15px 17.95px;
  font-size: 15px;
  font-weight: 500;
  
  &.btn-primary {
    color: #fff;
  }
  
  &.btn-secondary {
    
    &[disabled] {
      opacity: 1;
      background-color: rgba(106, 127, 140, 0.2);
      border: 0;
    }
  }
  
  &.btn-outline-primary {
    border-width: 2px;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
    
    &.btn-sm {
      font-size: 13px;
      padding: 11.77px 17px;
    }
  }
  
  &.btn-outline-secondary {
    border-width: 2px;
    
    &.btn-sm {
      font-size: 13px;
      padding: 11.77px 17px;
    }
  }
  
  &.btn-sm {
    padding: 11.77px 37.2px;
  }
  
  &.btn-link {
    
    &.btn-sm {
      font-size: 13px;
      padding: 11.77px 17px;
    }
    
    &.btn-link--dark {
      font-weight: 500;
      font-size: 15px;
      color: $secondary;
      @include transition;

      &:hover {
        opacity: .7;
        color: $secondary;
      }
    }
  }
}


.nav-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-color;
  padding: 0;
  margin-bottom: 0;
  
  .nav-item {
    font-size: 14px;
    color: $secondary;
    margin: 0 20px;
    list-style: none;
    
    .nav-link {
      display: flex;
      align-items: center;
      height: 60px;
      color: $secondary;
      @include transition;

      &:hover {
        opacity: .7;
        color: $secondary;
      }
      
      &.active {
        border-bottom: 2px solid $secondary;
      }
    }
  }
}


/* Slick */

.slick-track {
  display: flex!important;
}

.slick-dots {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin-bottom: 0;
  
  li {
    list-style: none;
    
    & + li {
      margin-left: 20px;
    }
    
    &.slick-active {
      
      button {
        background: $secondary;
      }
    }
    
    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: 1px solid $secondary;
      border-radius: 50%;
      background: transparent;
    }
  }
}


/* Select2 */

.select2 {
  position: relative;
//  z-index: 1052;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }
  
  .select2-selection {
    border: 0;
    height: 70px;
    border-radius: 0;
    background: transparent!important;
      
    &:focus {
      outline: none;
    }
  
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      height: 70px;
      padding-left: 15px;
      padding-right: 20px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      @include media-breakpoint-down(sm) {
        padding-left: 20px;
      }
      
      &:focus {
        outline: none;
      }
      
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 5px;
        background: url(../img/triangle.svg) no-repeat;
        background-size: contain;
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        margin-top: -2.5px;
        right: 20px;
      }
    }
    
    .select2-selection__arrow {
      display: none;
    }
    
    &--multiple {
      border: 0!important;
    }
  }
}


    
.select--common {
  height: 60px!important;

  .select2-selection__rendered {
    height: 60px!important;
    color: $secondary!important;
    font-size: 14px;
  }
}

.select--modal {
  height: 40px!important;

  .select2-selection__rendered {
    height: 40px!important;
    color: $secondary!important;
    font-size: 14px;
    border-bottom: 1px solid rgba($secondary, .3);
    padding: 0!important;
    position: relative!important;
    
    &:after {
      right: 0!important;
      width: 15px!important;
      height: 9px!important;
      background: url(../img/arrow--simple.svg) no-repeat!important;
      background-size: contain!important;
      top: 50%!important;
    }
  }
  
  .select2-selection__placeholder {
    font-size: 17px!important;
    font-weight: 400!important;
  }
}

.select--filter {
  height: 40px!important;

  .select2-selection__rendered {
    height: 40px!important;
    color: $secondary!important;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba($secondary, .3);
    padding: 0!important;
    position: relative!important;
    padding-left: 10px!important;
    min-width: 150px;
    
    &:after {
      right: 15px!important;
      width: 15px!important;
      height: 9px!important;
      background: url(../img/arrow--simple.svg) no-repeat!important;
      background-size: contain!important;
      top: 50%!important;
    }
  }
  
  .select2-selection__placeholder {
    font-size: 17px!important;
    font-weight: 400!important;
  }
}

.select2-dropdown {
  padding: 10px 0;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    right: 18px;
    top: -5px;
    background: #fff;
    position: absolute;
  }

  @include media-breakpoint-down(sm) {
    z-index: 1055;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1!important;
  }
  
  .select2-results__option {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 1.2;
    height: auto;
    padding-top: 11.2px;
    padding-bottom: 11.2px;
    background: #fdfdfd;
    @include transition;
    
    &:hover {
      color: #bfbfbf!important;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 20px;
    }

    &--highlighted {
      background: #fff;
      color: #010101;
    }

    &[aria-selected] {
      background: #fff;
      color: #010101;
    }
  }
}

.select2-container--open {
  border-radius: 0!important;
  
  .select2-selection__rendered {
    
    &:after {
      transform: rotate(180deg);
    }
  }
}

.select2-search {
  width: 100%;
//  position: absolute;
//  top: -35px;
//  left: 1px;
//  padding: 0;
//  width: calc(100% - 30px);
//  border-radius: 3px;
  
  .select2-search__field {
    width: 100%!important;
    @include placeholder($secondary);
    color: $secondary;
    font-size: 15px!important;
    font-family: $font-family-sans-serif;
    margin-top: 0!important;
    height: 24px!important;
  }
}


.select__search--new {
  
  .select2-search {
    position: absolute;
    top: -38px;
    left: 1px;
    padding: 0;
    width: calc(100% - 30px);
    border-radius: 3px;

    .select2-search__field {
      border: 0!important;
      padding-left: 15px;
      border-radius: 3px;
    }
  }
}

.select__dropdown--common {
  z-index: 1053;
  
  &--new {
    position: absolute!important;
  }
}

.select2-selection__placeholder {
  color: $secondary!important;
  font-size: 15px!important;
  font-family: $font-family-sans-serif!important;
  line-height: 24px!important;
}

.select2-results__option {
  font-size: 14px!important;
  color: $secondary!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
  
  &[aria-selected="true"] {
    
    .select2-option--checkbox {
    
      &:before {
        background: url(../img/check.svg) no-repeat center;
        background-size: 80%;
      }
    }
  }
}

.select2-option--checkbox {
  display: flex;
  align-items: center;
  
  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid rgba($secondary, .53);
    margin-right: 10px;
  }
  
  &.select2-option--checkbox-active {
    
    &:before {
      background: #000;
    }
  }
}

.select2-results__options {
  position: relative;
}

.select2-selection--multiple {
  
  
  .select2-selection__choice__remove {
    color: #fff!important;
  }
  
  .select2-selection__rendered {
    
  }
  
  .select2-selection__choice {
//    max-width: 100%;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    background: $primary;
//    margin-top: 0!important;
//    background: $primary!important;
//    color: #fff!important;
//    border-color: $primary!important;
//    z-index: 1;
//    width: 100%;
    max-width: 100%;
    overflow: hidden;
//    text-overflow: ellipsis;
    margin-top: 0!important;
    background: transparent!important;
    color: $secondary!important;
    border-color: transparent!important;
    z-index: 1;
    margin-right: 0!important;
//    width: 100%;
    padding: 0!important;
    
    & + .select2-selection__choice {
      font-size: 0;
      padding: 0!important;
      margin: 0!important;
      border: 0!important;
      display: none!important;
//      width: 0!important;
    }
    
    &:nth-child(2) {
      display: block!important;
      width: auto;
      
      &:before {
        content: ' и др.';
        display: inline;
        font-size: 15px;
        position: relative;
        top: 1px;
      }
    }
    
    & ~ .select2-search {
      display: none;
    }
    
    .select2-selection__choice__remove {
      display: none;
    }
  }
  
//  .select2-search {
//    top: 0;
//    max-width: 100%;
//    overflow: hidden;
//    position: static!important;
//    width: auto!important;
//  }
  
  .select2-search__field {
    margin-top: 0!important;
  }
}



/* Perfect Scrollbar */

.ps__rail-y {
  background: transparent!important;
  opacity: 1!important;
  
  .ps__thumb-y {
    background: $secondary;
    opacity: 1!important;
  }
}


/* Fancybox */

.fancybox-bg {
  background: rgba(255, 255, 255, .8);
}

.fancybox-container {
  font-family: $font-family-sans-serif;
}


/* Sticky */

.is-sticky {
  
  .tabs {
    z-index: 1!important;
    width: 100%!important;
    left: 0!important;
  }
  
  .tabs__btn {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}


/* Scrollme */

@media (max-width: 1199px){
	.animateme, .header__bottom {
		transform: none !important;
		opacity: 1 !important;
	}
}