include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/slider/slider.pug
include ../blocks/item/item.pug
include ../blocks/card/card.pug
include ../blocks/search/search.pug
include ../blocks/help/help.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/program/program.pug
include ../blocks/select/select.pug
include ../blocks/custom-checkbox/custom-checkbox.pug
include ../blocks/custom-radio/custom-radio.pug
include ../blocks/question/question.pug
include ../blocks/modal/modal.pug
include ../blocks/form/form.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/order/order.pug
include ../blocks/catalog/catalog.pug
include ../blocks/aside/aside.pug
include ../blocks/stars/stars.pug
include ../blocks/filters/filters.pug
include ../blocks/country/country.pug
include ../blocks/clinic/clinic.pug
include ../blocks/map/map.pug
include ../blocks/review/review.pug
include ../blocks/article/article.pug
include ../blocks/cut/cut.pug
include ../blocks/cover/cover.pug
include ../blocks/partners/partners.pug
include ../blocks/tabs/tabs.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/input/input.pug
include ../blocks/link/link.pug
include ../blocks/section/section.pug
