mixin help(modifier)
  .help&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-center Остались вопросы? Поможем разобраться
          p.text-center.mt-40.mb-45 Вместе с нашими консультантами вы сможете подобрать <br>и рассчитать  индивидуальную программу лечения
          .help__btns-wrapper
            a.help__btn(href="#") Подобрать программу
            a.help__btn(href="#consultation" data-fancybox) Получить консультацию
            +modal('Получить консультация', 'modal--consultation')(id="consultation")