.help {
  padding: 60px 0;
  background: #fff;
  
  &__btns-wrapper {
    display: flex;
    width: 420px;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      width: 100%;
    }
  }
  
  &__btn {
    font-size: 15px;
    line-height: 50px;
    font-weight: 500;
    color: $secondary;
    width: 50%;
    text-align: center;
    border: 2px solid $secondary;
    border-radius: 3px 0 0 3px;
    @include transition;

    @include media-breakpoint-down(sm) {
      width: 100%;
      border-radius: 3px 3px 0 0;
    }
    
    &:hover {
      color: #fff;
      background: $secondary;
    }
    
    &+& {
      border-left: 0;
      border-radius: 0 3px 3px 0;

      @include media-breakpoint-down(sm) {
        border-left: 2px solid $secondary;
        border-top: 0;
        border-radius: 0 0 3px 3px;
      }
    }
  }
}
