.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  
  &__link {
    color: $secondary;
    font-size: 14px;
    display: flex;
    align-items: center;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 1;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 4px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
      margin: 0 7px;
    }
    
    &--current {
      opacity: .5;

      &:hover {
        opacity: .5;
      }
      
      &:after {
        transform: rotate(90deg);
        margin: 0 4px;
      }
    }
  }
    
  &--hidden {
    display: none;
  }
}
