mixin breadcrumbs(breadcrumbs1, breadcrumbs2, breadcrumbs3, modifier)
  .breadcrumbs&attributes(attributes)
    a.breadcrumbs__link(href="#") Главная
    if breadcrumbs1 != ''
      a.breadcrumbs__link(href="#")= breadcrumbs1
    if breadcrumbs2 != ''
      a.breadcrumbs__link(href="#")= breadcrumbs2
    span.breadcrumbs__link.breadcrumbs__link--current= breadcrumbs3