.input {
  border: 0;
  border-bottom: 1px solid rgba($secondary, .3);
  border-radius: 0;
  padding: 0;
  background: transparent;
  position: relative;
  z-index: 1;
  height: 40px;
  font-size: 17px;
  color: $secondary;
  
  &:focus {
    outline: none;
    box-shadow: none;
    background: transparent;
    border-color: rgba($secondary, .3);
    color: $secondary;
  }
};
