.filters {
  
  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 20px);
      color: $secondary;
      font-size: 14px;
      border-bottom: 1px solid $border-color;
      height: 60px;
      margin-left: -10px;
      margin-right: -10px;
      
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 8px;
        background: url(../img/arrow--simple.svg) no-repeat center;
        background-size: contain;
        margin-left: 5px;
        margin-top: 1px;
      }
    }
    
    &:hover {
      color: $secondary;
    }
  }
  
  &__content {

    @include media-breakpoint-down(md) {
      display: none;
      padding-top: 20px;
      border-bottom: 1px solid $border-color;
    }
  }
  
  &__section {
    margin-bottom: 35px;
  }
  
  &__item {
    margin-bottom: 15px;
  }
  
  &__label {
    font-size: 10px;
    color: $secondary;
    margin-bottom: 4px;
    display: block;
  }
  
  &__input {
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba($secondary, .3);
    padding: 0 15px;
  }
  
  &__section-content {
    
  }
  
  &__section-more {
    color: $secondary;
    font-size: 13px;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
  
  &__rating {
    display: flex;
    align-items: center;
  }
  
  &__rating-header {
    color: $secondary;
    font-size: 14px;
    margin-left: 10px;
  }
  
  &__sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px 30px 20px;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__sorting-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      width: 100%;
      align-items: stretch;
    }
  }
}