.cut {
  position: relative;
  max-height: 210px;
  overflow: hidden;
  @include transition;
  
  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 166px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    @include transition;
    
    &:hover {
      height: 100px;
    }
  }
  
  &--open {
    max-height: none;
    overflow: auto;
  }
}
