.article {
  
  &__cover {
    height: 623px;
    background: url(../img/article-cover.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  
  &__header {
    background: #fff;
    padding-left: 100px;

    @include media-breakpoint-down(lg) {
      padding-left: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
      background: transparent;
    }
  }
  
  &__header-left {
    border-right: 1px solid $border-color;

    @include media-breakpoint-down(sm) {
      border-right: 0;
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
    }
  }

  &__city {
    
  }
  
  &__rating {
    display: flex;
    align-items: center;
  }
  
  &__rating-header {
    color: $secondary;
    font-size: 14px;
    margin-left: 10px;
  }
  
  &__header-right {
    
  }
  
  &__header-comment {
    font-size: 12px;
    line-height: 1.58;
    margin-top: 20px;
    margin-bottom: 0;
  }
}