.socials {
  display: flex;
  
  &__item {
    border-radius: 50%;
    border: 2px solid #6a7f8c;
    display: block;
    width: 40px;
    height: 40px;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 20px;
    }
    
    &--fb {
      background: url(../img/fb.svg) no-repeat center;
    }
    
    &--tw {
      background: url(../img/tw.svg) no-repeat center;
    }
    
    &--ig {
      background: url(../img/ig.svg) no-repeat center;
    }
    
    &--em {
      background: url(../img/em.svg) no-repeat center;
    }
  }
}
