mixin review(overall, content, sex, name, date, modifier)
  .review&attributes(attributes)
    .d-flex.align-items-center.mb-20
      p.font-weight-bold.mr-15.mb-0= overall
      +stars('stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full', '')
    p.mb-20= content
    .review__footer
      .d-flex.align-items-center
        .review__user-picture(class="review__user-picture--" + sex)
        span.review__footer-text= name
      .review__date
        span.review__footer-text= date
        