.review {
  margin-bottom: 30px;
  
  &__footer {
    display: flex;
    align-items: center;
  }
  
  &__user-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    
    &--male {
      background: url(../img/male.svg) no-repeat;
      background-size: contain;
    }
    
    &--female {
      background: url(../img/female.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &__footer-text {
    font-size: 14px;
    color: $secondary;
  }
  
  &__date {
    display: flex;
    align-items: center;
    
    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $secondary;
      margin: 0 10px;
    }
  }
}