mixin search(modifier)
  .search&attributes(attributes)
    if modifier == 'search--big'
      .search__bg
        .search__bg-item.search__bg-item--active(style="background-image: url(./img/search.jpg);")
        .search__bg-item(style="background-image: url(./img/article-cover.jpg);")
    .container.search__wrapper
      .row
        .col-12
          if modifier == 'search--big'
            h2.text-center.text-white.mb-50 Подберите клинику
          .wrapper__content
            .search__content
              form.search__form(action="#", method="GET")
                input.search__input.search__item.search__item--input(type="text", placeholder="Например, боли в позвоночнике")
                .select.search__item.search__item--select
                  select.select__input.select__input--field(multiple)
                    option 
                    option Урология
                    option Онкология
                    option Ортопедия
                    option Нейрохирургия
                    option Кардиология
                    option Урология
                    option Онкология
                    option Ортопедия
                    option Нейрохирургия
                    option Кардиология
                .select.search__item.search__item--select
                  select.select__input.select__input--country
                    option 
                    option Россия
                    option Германия
                    option Израиль
                .search__item.search__item--btn
                  a.btn.btn-primary.btn-sm(href="#") Найти
              .search__recent
                p.p--sm.text-white.mb-0.mr-20 Недавний поиск:
                a.search__link(href="#") Ринопластика
                a.search__link(href="#") Нейрохирургия
                a.search__link(href="#") Замена тазобедренного сустава
            if modifier == 'search--big'
              a.search__section(href="#") Клиники Америки