.search {
  padding: 210px 0 35px;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 35px 0;
  }
  
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  &__bg-item {
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: crawl 14s linear infinite;
    display: none;

    @keyframes crawl {

      100% {
        transform: translateY(-100px);
      }
    }
    
    &--active {
      z-index: 0;
      display: block;
    }
  }
  
  &__wrapper {
    
  }
  
  &__content {

    @include media-breakpoint-down(md) {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  
  &__form {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
  &__input {
    font-size: 15px;
    height: 100%;
    border: 0;
    border-radius: 0!important;
    @include placeholder(rgba($secondary, .35));
    padding: 0 20px;
  }
  
  &__item {
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &+& {
      border-left: 1px solid $border-color;

      @include media-breakpoint-down(md) {
        border-left: 0;
        border-top: 1px solid $border-color;
      }
    }
    
    &--input {
      flex: 1 1 auto;
    }
    
    &--select {
      width: 170px;
      flex-shrink: 0;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    
    &--btn {
      width: 17.1%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
  
  &__recent {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    flex-wrap: wrap;
  }
  
  &__link {
    font-size: 13px;
    color: #fff;
    text-decoration: underline;
    margin-right: 20px;
    
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  
  &__section {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .12px;
    text-align: center;
    margin-top: 130px;
    display: block;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 50px;
    }
    
    &:hover {
      opacity: .7;
      color: #fff;
    }
  }
  
  &--small {
    padding: 30px 0 20px;
    background: rgba(0, 0, 0, .15);
    position: relative;
    
    .search__background {
      display: none;
    }
//    z-index: 0;

    @include media-breakpoint-down(md) {
      background: rgba(0, 0, 0, .5);
    }
  }
}