.item {
  background: #fff;
  border-radius: 2px;
  padding: 35px 35px 45px;
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &:hover {

    .item__picture {
      transform: scale(1.05);
    }
  }
  
  &__picture-wrapper {
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 35px;
    border-radius: 50%;
  }
  
  &__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    @include transition;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }
  
  &__content {
    
  }
  
  &__title {
    @include transition;
  }
  
  &--big {
    padding: 0;
    margin-bottom: 60px;
    
    .item__picture-wrapper {
      margin-right: 20px;
      width: 200px;
    }
    
    .item__picture {
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }
  }
}