mixin item(picture, title, dscr, modifier)
  a.item(href="#")&attributes(attributes)
    .item__picture-wrapper
      .item__picture(style="background-image: url(./img/" + picture + ");")
    .item__content
      h3.item__title= title
      p.mb-0= dscr