mixin footer(modifier)
  .footer&attributes(attributes)
    .container
      .row
        .col-12
          .wrapper__content
            .footer__top-wrapper
              .footer__sitemap
                a.footer__link(href="#") О компании
                a.footer__link(href="#") Поддержка клиентов
                a.footer__link(href="#") Вход
              +socials
              .footer__top-right
                a.footer__phone(href="tel:+74952152353") +7 495 215-23-53
                a.btn.btn-outline-secondary.btn-sm(href="#callback" data-fancybox) Обратный звонок
                +modal('Обратный звонок', 'modal--callback')(id="callback")
                +modal('Заявка отправлена', 'modal--success')(id="success")
    .border-top.pt-25.pb-20
      .wrapper__content
        .container
          .row
            .col-12
              p.footer__copyright Используя наш сайт, Вы тем самым выражаете согласие с условиями пользования DNP не предоставляет медицинскую консультацию, диагностирование и лечение. Информация, предоставленная на сайте, предназначена для поддержки существующих отношений между пациентами и посетителями вебсайта и их врачами, и не заменяет этих отношений.
              p.footer__copyright Copyright  ©  Dnp-line 2016 – 2018
