.footer {
  border-top: 1px solid $border-color;
  background: #fff;
  
  &__content {
    
  }
  
  &__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__sitemap {

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }
  
  &__link {
    display: block;
    color: $secondary;
    font-size: 14px;
    @include transition;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &+& {
      margin-top: 15px;
    }
  }
  
  &__top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  &__phone {
    color: $secondary;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.89;
    white-space: nowrap;
    margin-bottom: 30px;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
  
  &__copyright {
    font-size: 10px;
    color: $secondary;
    text-align: center;
    
    &+& {
      margin-top: 15px;
    }
  }
}