mixin order(title, modifier)
  .order&attributes(attributes)
    .container
      .row
        .col-lg-6.offset-lg-3
          h2.text-center= title
          form.form(action="#", method="POST")
            if modifier == 'order--call'
            else
              .select.mb-30
                select.select__input.select__input--branch
                  option
                  option Направление 1
                  option Направление 2
            .form__item.form-group
              input.input.form__item-input.form-control(type="text")
              label.form__item-label Ваше имя
            .form__item.form-group
              input.input.form__item-input.form-control(type="text")
              label.form__item-label Номер мобильного телефона
            +custom-checkbox('agreement', 'Соглашаюсь на сбор и обработку моих персональных данных')(class="custom-checkbox--big")
            .d-flex.justify-content-center.mt-25
              button.btn.btn-secondary(type="submit") Получить SMS-код
            .order__footer
              p.p--sm.mb-0.mr-10 Следующие шаги: 
              p.p--sm.mb-0.order__footer-item Заполните анкету
              p.p--sm.mb-0.order__footer-item Дождитесь ответа специалиста