.order {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
  
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid $border-color;
    flex-wrap: wrap;
  }
  
  &__footer-item {
    font-size: 13px;
    color: $secondary;
    display: flex;
    align-items: center;
    
    &+& {
      
      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 5px;
        background: url(../img/arrow--sm-long.svg) no-repeat;
        background-size: contain;
        margin: 0 5px;
        margin-top: 1px;
      }
    }
  }
}
