mixin card(picture, section, title, modifier)
  a.card(href="#")&attributes(attributes)
    .card__picture-wrapper
      .card__picture(style="background-image: url(./img/" + picture + ");")
    p.p--sm.mt-25.mb-15= section
    h3.mb-0.card__title= title