.card {
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &:hover {

    .card__picture {
      transform: scale(1.05);
    }
  }
  
  &__picture-wrapper {
    overflow: hidden;
  }
  
  &__picture {
    height: 230px;
    background-size: cover;
    background-position: center;
    @include transition;
  }
  
  &__title {
    @include transition;
  }
}
