mixin partners(header, partner1, partner2, partner3, partner4, partner5, modifier)
  .partners&attributes(attributes)
    .container
      .row
        .col-12
          h3.text-center= header
          .wrapper__content
            .partners__content
              a.partners__item(href="#")
                img.partners__item-logo(src="img/" + partner1, alt="Logo")
              a.partners__item(href="#")
                img.partners__item-logo(src="img/" + partner2, alt="Logo")
              a.partners__item(href="#")
                img.partners__item-logo(src="img/" + partner3, alt="Logo")
              a.partners__item(href="#")
                img.partners__item-logo(src="img/" + partner4, alt="Logo")
              a.partners__item(href="#")
                img.partners__item-logo(src="img/" + partner5, alt="Logo")