.partners {
  background: #fff;
  padding: 40px 0 75px;
  
  &+& {
    border-top: 1px solid $border-color;
  }
  
  &__content {
    display: flex;
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  &__item {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition;
    
    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  
  &__item-logo {
    
  }
}
