mixin program(picture, title, dscr, modifier)
  .program&attributes(attributes)
    a.program__picture-wrapper(href="#")
      .program__picture(style="background-image: url(./img/" + picture + ");")
    .program__content
      .program__content-top
        a.program__title(href="#")
          h3= title
        p.mb-0= dscr
      .program__footer
        a.program__btn(href="#") Получить консультацию
        a.program__btn(href="#") Подробнее о программе