.program {
  border-radius: 2px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  
  &__picture-wrapper {
    overflow: hidden;
  }
  
  &__picture {
    height: 200px;
    background-size: cover;
    background-position: center;
    @include transition;

    &:hover {
      transform: scale(1.05);
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  &__content-top {
    padding: 20px 20px 40px;
  }
  
  &__title {
    display: block;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
  
  &__footer {
    border-top: 1px solid $border-color;
    display: flex;
  }
  
  &__btn {
    height: 55px;
    color: $primary;
    font-size: 13px;
    font-weight: 500;
    display: block;
    width: 50%;
    line-height: 54px;
    text-align: center;
    @include transition;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
    
    &:hover {
      color: $secondary;
    }
    
    &+& {
      border-left: 1px solid $border-color;
    }
  }
}
