.link {
  @include transition;
  display: flex;
  
  p {

    @include media-breakpoint-down(md) {
      width: 100%;
      text-align: center;
    }
  }

  &:hover {
    opacity: .7;
    color: $secondary;
  }
}
