.catalog {
  background: #fff;
  margin-bottom: 20px;
  
  &__sidebar {
    padding: 20px 10px 20px 30px;
    width: 100%;

    @include media-breakpoint-down(md) {
      padding: 0 10px 30px;
    }
  }
  
  &__content {
    border-left: 1px solid $border-color;
  }
  
  &__more {
    color: $secondary;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    display: block;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
}
