.tabs {
  position: relative;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    width: 100%!important;
    justify-content: flex-start;
    overflow: auto;
  }
  
  &__wrapper {
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    
    &--fixed {
      transform: translateY(-60px)!important;
    }
  }
  
  &__content {
    display: flex;
    position: relative;
  }
  
  &__item {
    font-size: 14px;
    color: $secondary;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 15px;
    @include transition;

    @include media-breakpoint-down(lg) {
      margin: 0 10px;
      flex-shrink: 0;
      font-size: 13px;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &--active {
//      border-color: $secondary;
    }
  }
  
  &__btn {
    display: none;

    @include media-breakpoint-down(sm) {
      display: none!important;
    }
  }
  
  &__underline {
    position: absolute;
    height: 2px;
    width: 0;
    background: $secondary;
    bottom: -1px;
    left: 0;
    transition: all .3s linear;
  }
}
