extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Лечение в России и за рубежом', 'header--inner')
  +cover('cover-5.jpg', 'Лечение в России и за рубежом', 'Внимание к незначительным проявлениям болезни и незамедлительная реакция на начальном этапе помогают избежать прогрессирования заболевания и могут полностью вернуть Ваше здоровье', '', 'cover--search')(class="cover--search")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#fields") Специализации
                a.tabs__item(href="#countries") Страны
                a.tabs__item(href="#clinics") Популярные клиники
                .tabs__underline
        .bg-white.mb-20.pt-45
          #fields.section
            .wrapper__content
              h2.text-center Специализации
              p.p--lg.text-center Вы можете найти нужную клинику или больницу воспользовавшись каталогом специализаций.
              .row.mt-60
                .col-md-6.d-flex
                  +item('item-21.jpg', 'Стоматология', 'Зубной имплантат  Консультация стоматолога Стоматологические коронки Отбеливание зубов Виниры')(class="item--big")
                .col-md-6.d-flex
                  +item('item-22.jpg', 'Онкология', 'Консультация онколога.  Химиотерапия Лечение рака груди.   Хирургическое лечение рака кожи.   Обследование на выявление онкологических заболеваний')(class="item--big")
                .col-md-6.d-flex
                  +item('item-23.jpg', 'Офтальмология', 'Представьте доктора, который досконально знает Вас, как пациента, учитывает особенности Вашей наследственности')(class="item--big")
                .col-md-6.d-flex
                  +item('item-24.jpg', 'Ортопедия', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
            .border-top.d-flex.justify-content-center.py-25
              a.btn.btn-link.btn-link--dark(href="#") Другие специализации
        #countries.section.bg-white.my-20.pt-50
          .wrapper__content
            h2.text-center.mb-60 Страны для организации лечения
            .row
              .col-lg-4.col-md-6
                +country('country-1.jpg', 'Тайланд')
              .col-lg-4.col-md-6
                +country('country-2.jpg', 'Мексика')
              .col-lg-4.col-md-6
                +country('country-3.jpg', 'Венгрия')
              .col-lg-4.col-md-6
                +country('country-4.jpg', 'Коста-Рика')
              .col-lg-4.col-md-6
                +country('country-5.jpg', 'ОАЭ')
              .col-lg-4.col-md-6
                +country('country-6.jpg', 'Германия')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Другие страны
        #clinics.section.bg-white.mt-20.mb-40.pt-60
          .wrapper__content
            h2.text-center.mb-60 Популярные клиники
            .row
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-1.jpg', 'Privatklinik Döbling')(class="clinic--vertical")
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-2.jpg', 'Landeskrankenhaus Villach')(class="clinic--vertical")
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-3.jpg', "La Clinique de l'Infirmerie Protestante")(class="clinic--vertical")
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-4.jpg', 'Privatklinik Döbling')(class="clinic--vertical")
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-5.jpg', 'Landeskrankenhaus Villach')(class="clinic--vertical")
              .col-xl-4.col-sm-6.d-flex
                +clinic('clinic-1.jpg', "La Clinique de l'Infirmerie Protestante")(class="clinic--vertical")
  +search('search--big')
  +help
  +footer