extends ../templates/template.pug
block content
  +header('', 'Вызвать врача', 'Вызвать врача на дом', 'header--inner')
  +cover('cover-9.jpg', 'Вызов врача на дом', 'Обследование, процедуры и анализы на дому. В пределах Москвы и Московской области врач выезжает круглосуточно', 'Задать вопрос', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12
        h2.mt-45.mb-50.text-center Обследования, процедуры и анализы на дому
    .row.mb-20
      .col-lg-4.d-flex
        +program('program-7.jpg', 'Вызов врача на дом', 'Вы можете вызвать на дом врача следующей специализации: педиатра, терапевта, хирурга, кардиолога, невропатолога, эндокринолога, уролога, офтальмолога, ЛОР-врача. В пределах Москвы и Московской области врач выезжает круглосуточно')
      .col-lg-4.d-flex
        +program('program-8.jpg', 'Обследования и процедуры на дому', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.d-flex
        +program('program-9.jpg', 'Прием анализов на дому', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
  +help
  +footer