extends ../templates/template.pug
block content
  +header('', 'Вызвать врача', 'Обследования и процедуры на дому', 'header--inner')
  +cover('cover-7.jpg', 'Обследования <br>и процедуры на дому', 'Медицинские манипуляции, <br>требующие специализированного оборудования', 'Вызвать врача', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#ECG") ЭКГ
                a.tabs__item(href="#ultrasound") УЗИ
                a.tabs__item(href="#procedures") Медицинские процедуры
                .tabs__underline
        .bg-white.mb-20
          #ECG.section
            .border-bottom.pt-55.pb-80
              .wrapper__content
                h2.text-center.mb-45 Электрокардиограмма
                p.p--lg.text-center.mb-0 ЭКГ- безболезненная процедура, которая позволяет выявить изменения в работе сердца на самых ранних стадиях и осуществить мониторинг его работы без вреда для организма
            .wrapper__content
              .row.mt-60
                .col-md-6.d-flex
                  +item('item-29.jpg', 'Исследование на дому', 'Мы организуем снятие ЭКГ на дому взрослым и детям старше 2х лет. Медсестра может приехать круглосуточно в пределах Москвы и Московской области')(class="item--big")
                .col-md-6.d-flex
                  +item('item-30.jpg', 'Оперативный результат', 'Результат расшифрует врач-кардиолог и даст свои рекомендации по дальнейшему наблюдению или лечению. Заключение врача мы пришлем Вам по электронной почте или отправим курьером')(class="item--big")
          .border-top.py-50
            .wrapper__content
              h3.text-center.mb-45 Мы взаимодействуем с профильными медицинскими учреждениями на всех этапах оказания медицинских услуг
              .d-flex.justify-content-center
                a.btn.btn-primary(href="#") Вызвать врача
        #ultrasound.section.bg-white.my-20
          .border-bottom.pt-55.pb-80
            .wrapper__content
              h2.text-center.mb-45 Ультразвуковое исследование
              p.p--lg.text-center.mb-0 УЗИ – популярный, малоинвазивный метод исследования, помогающий врачу быстро поставить верный диагноз. <br>УЗИ не вредит здоровью пациента и не имеет абсолютных противопоказаний
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-31.jpg', 'Исследование на дому', 'Перед вызовом специалиста с аппаратом УЗИ на дом, пожалуйста, убедитесь, что возле кровати пациента есть свободное место для размещения УЗИ-аппарата и врача. Обязательно уточните у нашего врача-координатора, какая подготовка требуется для проведения нужного Вам вида исследования')(class="item--big")
              .col-md-6.d-flex
                +item('item-32.jpg', 'Большой спектр возможностей', 'Мы предлагаем проведение следующих исследований на дому:  УЗИ малого таза (матка и придатки), УЗИ-обследование беременных, УЗИ мочевыделительной системы (почек, мочеточников, мочевого пузыря), УЗИ органов брюшной полости (печени, желчного пузыря, поджелудочной железы, селезенки), обследование предстательной железы')(class="item--big")
          .border-top.py-50
            .wrapper__content
              h3.text-center.mb-45 Мы взаимодействуем с профильными медицинскими учреждениями на всех этапах оказания медицинских услуг
              .d-flex.justify-content-center
                a.btn.btn-primary(href="#") Вызвать врача
        #procedures.section.bg-white.my-20
          .border-bottom.pt-55.pb-80
            .wrapper__content
              h2.text-center.mb-45 Медицинские процедуры на дому
              p.p--lg.text-center.mb-0 Уколы, капельницы, перевязки и другие необходимые вам медицинские процедуры обеспечит квалифицированный персонал
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-33.jpg', 'Расходные материалы', 'Все расходные материалы (системы, шприцы, иглы-бабочки, катетеры периферические, спиртовые салфетки, бинт, пластырь, перчатки, дезинфекция и т. д.) – наши')(class="item--big")
              .col-md-6.d-flex
                +item('item-34.jpg', 'Полный контроль со стороны пациента', 'Вы предоставляете лекарства для инъекций. Пожалуйста, убедитесь, что у Вас есть все необходимые препараты и срок их годности не истек.)')(class="item--big")
          .border-top.py-50
            .wrapper__content
              h3.text-center.mb-45 Мы взаимодействуем с профильными медицинскими учреждениями на всех этапах оказания медицинских услуг
              .d-flex.justify-content-center
                a.btn.btn-primary(href="#") Вызвать врача
  +order('Вызвать врача', 'order--call')
  +footer