extends ../templates/template.pug
block content
  +header('', 'Вызвать врача', 'Вызвать врача на дом', 'header--inner')
  +cover('cover-8.jpg', 'Вызов врача на дом', 'Обследование, процедуры и анализы на дому. В пределах Москвы и Московской области врач выезжает круглосуточно', 'Вызвать врача', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12
        .bg-white.my-20.bg-white.my-20
          .border-bottom.pt-55.pb-45
            .wrapper__content
              h2.text-center.mb-45 Вызов врача на дом для детей и взрослых
              p.p--lg.text-center.mb-0 Вы можете вызвать на дом врача следующей специализации: педиатра, терапевта, хирурга, кардиолога, невропатолога, эндокринолога, уролога, офтальмолога, ЛОР-врача. В пределах Москвы и Московской области врач выезжает круглосуточно
          h3.text-center.mt-45.mb-50 В каких случаях требуется вызвать врача на дом
          .wrapper__content.pb-45
            .row.mb-45
              .col-md-4
                .pr-10
                  p.p--lg.font-weight-bold Если нужна плановая консультация или осмотр, и нет возможности или желания ехать в клинику
              .col-md-8
                p.p--lg DNP line  уважает и поддерживает желание своих клиентов обследоваться и лечиться дома в комфортной обстановке. Мы предлагаем врачебный осмотр, анализы, УЗИ, ЭКГ круглосуточно у Вас дома и в удобное для Вас время. Наш проект вырос из стремления сделать процесс диагностики и лечения для пациента комфортнее, качественнее, эффективнее. Для этого мы собрали ведущих специалистов разных врачебных специальностей, которые проводят первичную консультацию и обследование в нашей клинике.
            .row.mb-45
              .col-md-4
                .pr-10
                  p.p--lg.font-weight-bold Вы или Ваш ребенок заболели, а запись к педиатру или вызов участкового врача на дом в кратчайшие сроки невозможны
              .col-md-8
                p.p--lg DNP line  уважает и поддерживает желание своих клиентов обследоваться и лечиться дома в комфортной обстановке. Мы предлагаем врачебный осмотр, анализы, УЗИ, ЭКГ круглосуточно у Вас дома и в удобное для Вас время. Если необходима госпитализация или более углубленное обследование, врач может продолжить работать с пациентом в своем основном медицинском учреждении.
            .row.mb-45
              .col-md-4
                .pr-10
                  p.p--lg.font-weight-bold Вам или ребенку нужно сделать прививку, но нет возможности сидеть в очереди в ущерб рабочему или учебному времени
              .col-md-8
                p.p--lg Сотрудничество с ведущими клиниками Москвы и профессиональные контакты с врачами -лидерами своих специальностей позволили реализовать идею индивидуализации помощи для каждого конкретного пациента. DNP line  уважает и поддерживает желание своих клиентов обследоваться и лечиться дома в комфортной обстановке. <br>Мы предлагаем врачебный осмотр, анализы, УЗИ, ЭКГ круглосуточно у Вас дома и в удобное для Вас время
  +order('Вызвать врача', 'order--call')
  +footer