extends ../templates/template.pug
block content
  +header('', 'Вызвать врача', 'Прием анализов на дому', 'header--inner')
  +cover('cover-6.jpg', 'Прием анализов на дому', 'Прием всех категорий анализов у вас дома. <br>Забор анализов,требующих специализированного оборудования', 'Вызвать врача', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12
        .bg-white.my-20
          .border-bottom.pt-55.pb-80
            h2.text-center.mb-45 Прием анализов у вас дома
            p.p--lg.text-center.mb-0 Для нашей страны возможность сдать анализы на дому — относительная новинка в сфере медицинского обслуживания. <br>Однако в Европе такой сервис известен очень давно
          .wrapper__content
            .row.mt-60
              .col-sm-6.d-flex
                +item('item-25.jpg', 'Все категории анализов', 'Все категории анализов крови, мочи и другие')(class="item--big")
              .col-sm-6.d-flex
                +item('item-26.jpg', 'Удобное для вас время', 'Врач может приехать к вам домой уже через 2 часа. Операторы в чате всегда отвечают в течение минуты')(class="item--big")
              .col-sm-6.d-flex
                +item('item-27.jpg', 'Круглосуточно в Москве и МО', 'Все категории анализов крови, мочи и другие')(class="item--big")
              .col-sm-6.d-flex
                +item('item-28.jpg', 'Консультация нашего специалиста', 'Результат расшифрует врач и проконсультирует по телефону')(class="item--big")
          .border-top.pt-55.pb-65
            .wrapper__content
              .row
                .col-md-8.offset-md-2
                  h3.text-center.mb-45 Сохраним результат в личном кабинете, пришлем по электронной почте или отправим на дом курьером
              .d-flex.justify-content-center
                a.btn.btn-primary(href="#") Вызвать врача
  +order('Вызвать врача', 'order--call')
  +footer