extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Лечение в России и за рубежом', 'header--inner')
  .container
    .row
      .col-12
        .catalog
          .border-bottom.p-md-30.p-10
            h2.mb-0 Неврология и клиники в Германии
          .row
            .col-lg-3.d-flex
              .catalog__sidebar
                form.filters(action="#", method="POST")
                  a.filters__btn(href="#") Фильтры
                  .filters__content
                    .filters__section
                      .filters__item.form-group
                        label.filters__label Проблема
                        input.filters__input(type="text")
                      .filters__item.form-group
                        label.filters__label Специализация
                        .select
                          select.select__input.select__input--filter.select__input--filter-multiple(multiple)
                            option(selected) Неврология
                            option Урология
                            option Кардиология
                            option Нейрохирургия
                            option Урология
                            option Кардиология
                            option Нейрохирургия
                      .filters__item.form-group
                        label.filters__label Выбор страны
                        .select
                          select.select__input.select__input--filter
                            option(selected) Германия
                      button.btn.btn-primary.btn-sm.w-100.mt-20(type="submit") Найти
                    .filters__section
                      h3.mb-25 Страны
                      .filters__section-content
                        +custom-checkbox('country1', 'Бразилия (16 клиник)')
                        +custom-checkbox('country2', 'Германия (3 клиники)')
                        +custom-checkbox('country3', 'Боливия (4 клиники)')
                        +custom-checkbox('country4', 'Перу (23 клиники)')
                        +custom-checkbox('country5', 'США ( 4 клиники)')
                      a.filters__section-more(href="#") +     Показать еще
                    .filters__section
                      h3.mb-25 Специализации
                      .filters__section-content
                        +custom-checkbox('field1', 'Неврология')
                        +custom-checkbox('field2', 'Кардиология')
                        +custom-checkbox('field3', 'Нейрохирургия')
                        +custom-checkbox('field4', 'Онкология')
                        +custom-checkbox('field5', 'Ортопедия')
                      a.filters__section-more(href="#") +     Показать еще
                    .filters__section
                      h3.mb-25 Рейтинг
                      .filters__rating
                        +stars('stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full')
                        span.filters__rating-header 16 клиник
                      .filters__rating
                        +stars('stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full', '')
                        span.filters__rating-header 4 клиники
                      .filters__rating
                        +stars('stars__item--full', 'stars__item--full', 'stars__item--full', '', '')
                        span.filters__rating-header 2 клиники
                      .filters__rating
                        +stars('stars__item--full', 'stars__item--full', '', '', '')
                        span.filters__rating-header 15 клиник
                      .filters__rating
                        +stars('stars__item--full', '', '', '', '')
                        span.filters__rating-header 0 клиник
            .col-lg-9
              .catalog__content
                .filters
                  .filters__sorting
                    p.p--lg.mt-15.mb-0 Найдено 140 клиник по направлению Невроогия в Германии
                    .filters__sorting-content
                      .filters__item.form-group.mb-0.mt-20.mt-md-0.ml-md-20
                        label.filters__label Отображать
                        .select
                          select.select__input.select__input--filter
                            option Новые
                            option(selected) Популярные
                      .filters__item.form-group.mb-0.mt-20.mt-md-0.ml-md-20
                        label.filters__label Язык
                        .select
                          select.select__input.select__input--filter
                            option(selected) Английский
                +clinic('clinic-1.jpg', 'Privatklinik Döbling')
                +clinic('clinic-2.jpg', 'Landeskrankenhaus Villach')
                +clinic('clinic-3.jpg', 'AZ Monica General Hospital Antwerp')
                +clinic('clinic-4.jpg', "La Clinique de l'Infirmerie Protestante")
                +clinic('clinic-5.jpg', 'Landeskrankenhaus Villach')
                a.catalog__more(href="#") Загрузить еще
  +footer