extends ../templates/template.pug
block content
  +header('Организовать лечение', 'Лечение в России и за рубежом', 'AZ Monica General Hospital Antwerp', 'header--inner')
  .article
    .article__cover(style="background-image: url(./img/article-cover.jpg);")
    .container
      .row
        .col-12
          .article__header
            .row
              .col-md-8.article__header-left.py-20.pt-lg-45.pb-lg-50
                h2.mb-15 AZ Monica General Hospital Antwerp
                p.article__city Германия, Берлин
                .article__rating
                  +stars('stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full', '')
                  span.article__rating-header (5 отзывов)
              .col-md-4.d-flex.flex-column.justify-content-center.px-10.pr-md-30.pl-md-20.px-xl-90.pb-20.pb-sm-0
                a.btn.btn-primary.w-100(href="#") Запрос стоимости
                p.article__header-comment Запрос будет включать план лечения и оценку стоимости
          .scrollme.bg-white
            .tabs.border-top
              .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
                .tabs__content
                  a.tabs__item.tabs__item--active(href="#overview") Обзор клиники
                  a.tabs__item(href="#services") Услуги
                  a.tabs__item(href="#address") Расположение
                  a.tabs__item(href="#reviews") Отзывы
                  .tabs__underline
                a.btn.btn-outline-primary.btn-sm.tabs__btn(href="#") Запрос стоимости
          #overview.section.bg-white.my-20.pt-55.pb-50
            .wrapper__content
              h2.text-center.mb-45 Обзор клиники
              p.p--lg.text-center Shaare Zedek is a multidisciplinary medical center in Jerusalem, Isreal. With 30 inpatient departments, 70 outpatient departments and units, and 1,000 beds, it is the largest hospital in Jerusalem. Each year it handles over 70,000 inpatient admissions, 630,000 outpatient visits, 28,000 operations, and 22,000 newborns.
              p.p--lg.text-center The complex includes the Bikur Cholim Hospital, which hosts two maternity wards, a neonatal intensive care unit (NICU), an internal medicine department, and a gastroenterology institute. Advanced IVF treatments are also on offer (in collaboration with the Medical Genetics Institute), as are innovative technologies for fetal diagnosis, and pregnancy-screening tests using CMA.
          #services.section.bg-white.my-20.pt-55.pb-55
            h2.text-center.mb-45 Услуги
            .wrapper__content
              .row.border-bottom.pb-30
                .col-lg-4
                  p.p--lg.font-weight-medium.mt-15 Физиотерапия и реабилитация
                .col-lg-8
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Вестибулярная реабилитационная терапия
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") Запрос стоимости
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Кардиореабилитация
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") Запрос стоимости
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Имплантация автоматического дефибриллятора-кардиовертера
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") Запрос стоимости
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Консультация диабетолога
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") От 58 000 руб.
                  a(href="#").d-block.mt-30.link
                    p.p--lg.font-weight-medium.mb-0 Смотреть еще 14 процедур
              .row.pt-35
                .col-lg-4
                  p.p--lg.font-weight-medium.mt-15 Сосудистая медицина
                .col-lg-8
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Ангиография
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") От 13 000 руб.
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Ангиопластика
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") От 58 000 руб.
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Лечение аневризмы брюшной аорты
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") Запрос стоимости
                  .row.mb-20
                    .col-md-9.d-flex.align-items-center.my-10
                      p.p--lg.mb-0 Консультация диабетолога
                    .col-md-3.d-flex.align-items-center.my-10
                      a.btn.btn-outline-primary.btn-sm.w-100(href="#") От 58 000 руб.
                  a(href="#").d-block.mt-30.link
                    p.p--lg.font-weight-medium.mb-0 Смотреть еще 14 процедур
          #address.section.bg-white.my-20.pt-55
            .wrapper__content
              h2.text-center.mb-45 Расположение
              p.p--lg.text-center.mb-65 Адрес: Большая Сухаревская площадь, д. 3, Москва, Россия,  129090 <br>Открыто круглосуточно
            +map
          #reviews.section.bg-white.my-20.pt-55
            .wrapper__content
              h2.text-center.mb-55 Отзывы
              .row.border-bottom.mb-40
                .col-md-6
                  +review('Хорошо', 'Честно говоря не понимаю всех этих восторгов и общей оценки.  Уже с полгода назад сложилось впечатление, что Philips ведёт грязную игру в отзывах: кто-то писал отзывы ещё до того, как модель вышла в продажу, кто-то был "куплен" моделью, отданной на "тестирование" и пел дифирамбы в связи с этим, а чего же ожидать иного... ', 'female', 'Эвилина', '28 марта 2018 ')
                .col-md-6
                  +review('Отлично', 'Купила около 3 месяцев назад. из плюсов могу отметить невероятную мощность. Аж ковер от пола приподнимает. При этом его практически неслышно. Когда я убираюсь, остальные члены семьи спокойно смотрят телевизор.Насадки шикарные. Особенно для твердых покрытий.', 'male', 'Эдуард', '28 декабря 2017 ')
              .row
                .col-md-6
                  +review('Так себе', 'Честно говоря не понимаю всех этих восторгов и общей оценки.  Уже с полгода назад сложилось впечатление, что Philips ведёт грязную игру в отзывах: кто-то писал отзывы ещё до того, как модель вышла в продажу, кто-то был "куплен" моделью, отданной на "тестирование" и пел дифирамбы в связи с этим, а чего же ожидать иного... ', 'male', 'Эдуард', '28 декабря 2018 ')
                .col-md-6
                  +review('Не очень', 'Купила около 3 месяцев назад. из плюсов могу отметить невероятную мощность. Аж ковер от пола приподнимает. При этом его практически неслышно. Когда я убираюсь, остальные члены семьи спокойно смотрят телевизор.Насадки шикарные. Особенно для твердых покрытий.', 'male', 'Эдуард', '28 декабря 2017 ')
            .border-top.d-flex.justify-content-center.py-25
              a.btn.btn-link.btn-link--dark(href="#") Загрузить еще
  +order('Организовать лечение')
  +footer