extends ../templates/template.pug
block content
  +header
  +cover('cover-10.jpg', 'Направления лечения', 'Внимание к незначительным проявлениям болезни и незамедлительная реакция на начальном этапе помогают избежать прогрессирования заболевания и могут полностью вернуть Ваше здоровье', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#oncology") Онкология
                a.tabs__item(href="#cardiology") Кардиология
                a.tabs__item(href="#orthopedics") Ортопедия
                a.tabs__item(href="#ginecology") Гинекология
                a.tabs__item(href="#urology") Урология
                a.tabs__item(href="#other") Другие направления
                .tabs__underline
        .bg-white.mb-20
          #oncology.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Онкология
              p.p--lg.text-center.mb-0 Онкологические болезни представляют собой обширный и разнородный класс заболеваний. Онкологические заболевания являются системными и затрагивают, так или иначе, все органы и системы человека. Существует множество форм и вариантов течения рака.
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-35.jpg', 'Лечение онкологических заболеваний', 'Мы поможем подобрать и организовать лечение в клиниках, специализирующихся на лечении рака груд, рака головного мозга, лейкемии, колоректального рака, рака предстательной железы и других форм заболевания')(class="item--big")
              .col-md-6.d-flex
                +item('item-36.jpg', 'Своевременная диагностика', 'Лучшие специалисты-онкологи будут привлечены для рассмотрения вашего случая. Для онкологических заболеваний мы предоставляем услугу "Второе мнение" бесплатно')(class="item--big")
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center.mb-45 Закажите диагностику и лечение онкологических <br>заболеваний в партнерских клиниках DNP Line
            .row.mb-45
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Рентгеновское исследование
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 МРТ (Магнито-резонансная томография)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 КТ (компьютерная томография)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Лабораторная диагностика
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Диагностическая визуализация
              .col-lg-3.col-md-5
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление опухоли головного мозга
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление глиомы головного мозга
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Микроваскулярная декомпрессия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление опухоли гипофиза
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники направления «Нейрохирургия»
            .d-flex.justify-content-center
              a.btn.btn-primary(href="#") Получить консультацию
        .bg-white.my-20
          #cardiology.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Кардиология
              p.p--lg.text-center.mb-0 Кардиология — обширный раздел медицины, занимающийся изучением сердечно-сосудистой системы человека: строения и развития сердца и сосудов, их функций, а также заболеваний, включая изучение причин их возникновения, механизмов развития, клинических проявлений, вопросов диагностики, а также разработку эффективных методов их лечения и профилактики
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-37.jpg', 'Лечение заболеваний сердца', 'Подберем лечение сердечно-сосудистных заболеваний, таких как ишемическая болезнь сердца, порок сердечного клапана, врожденный порок сердца, кардиомиопатия, аневризма')(class="item--big")
              .col-md-6.d-flex
                +item('item-38.jpg', 'Своевременная диагностика', 'Диагностируем такие патологические состояния, как ишемическая болезнь сердца (ИБС), гипертоническая болезнь, цереброваскулярные заболевания и другие')(class="item--big")
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center.mb-40 Закажите диагностику и лечение сердца <br>в партнерских клиниках DNP Line
            .row
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Электрокардиограмма
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Эхокардиограмма
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Рентген грудной клетки
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Электрокардиография (ЭКГ) под нагрузкой
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Длительная пассивная ортостатическая проба
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Ангиография
              .col-lg-3.col-md-5
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Коронарная ангиопластика
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Аорто-коронарное шунтирование
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Замена сердечных клапанов
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Транскатетерная имплантация аортального клапана
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Сердечная ресинхронизирующая терапия 
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Имплантация электрокардиостимулятора
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники направления «Кардиология»
            .d-flex.justify-content-center.mt-45
              a.btn.btn-primary(href="#") Получить консультацию
        .bg-white.my-20
          #orthopedics.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Ортопедия
              p.p--lg.text-center.mb-0 Ортопедия — раздел клинической медицины, раздел хирургии, изучающий профилактику, диагностику и лечение деформаций и нарушений функций костно-мышечной системы, которые являются результатом врождённых дефектов, пороков развития, последствий травм или заболеваний.
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-39.jpg', 'Травматология и ортопедия', 'Сегодня очень распространены такие заболевания как остеохондроз, остеоартрит, переломы, ревматоидный артрит, разрыв связок. Мы найдем лучший вариант лечения для вас.')(class="item--big")
              .col-md-6.d-flex
                +item('item-40.jpg', 'Диагностическая экспертиза', 'Партнерские клиники и эксперты DNP Line помогут поставить правильный диагноз и составить программу лечения ортопедических заболеваний.')(class="item--big")
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center.mb-45 Закажите диагностику и лечение ортопедических <br>заболеваний в партнерских клиниках DNP Line
            .row
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Консультация ортопеда
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Рентгеновское исследование
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 КТ (компьютерная томография)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 МРТ (Магнито-резонансная томография)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Замена тазобедренного сустава
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Замена коленного сустава
              .col-lg-3.col-md-5
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Лечение разрыва связок коленного сустава
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Операция на мениске
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Лечение синдрома сдавления ротаторов плеча
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Лечение туннельного синдрома
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники направления «Ортопедия»
            .d-flex.justify-content-center.mt-45
              a.btn.btn-primary(href="#") Получить консультацию
        .bg-white.my-20
          #ginecology.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Гинекология
              p.p--lg.text-center.mb-0 Гинекология — отрасль медицины, изучающая заболевания, характерные только для организма женщины, прежде всего — заболевания женской репродуктивной системы.
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-41.jpg', 'Лечение женских болезней', 'Киста яичника, заболевания вульвы, опущение матки, опухоль яичника, вагинизм - распространенные женские заболевания, лечение которых обеспечит наша экспертиза')(class="item--big")
              .col-md-6.d-flex
                +item('item-42.jpg', 'Диагностика и профилактика', 'Лучшие специалисты-гинекологи обеспечат установление правильного диагноза и подберут наиболее эффективне способы лечения и профилактики заболеваний женской половой сферы')(class="item--big")
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center Закажите диагностику и лечение гинекологических <br>заболеваний в партнерских клиниках DNP Line
            .row
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Гистероскопия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 УЗИ
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Биопсия молочных желез
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Биопсия шейки матки
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Биопсия вульвы
              .col-lg-3.col-md-5
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Гистерэктомия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Гормонозаместительная терапия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Миомэктомия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление опухоли яичника
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление яичников
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Восстановление тазового дна
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники направления «Гинекология»
            .d-flex.justify-content-center.mt-45
              a.btn.btn-primary(href="#") Получить консультацию
        .bg-white.my-20
          #urology.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Урология
              p.p--lg.text-center.mb-0 Урология — область клинической медицины, изучающая этиологию, патогенез, диагностику заболеваний органов мочевой системы мужской половой системы и других патологических процессов в забрюшинном пространстве и разрабатывающая методы их лечения и профилактики.
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex
                +item('item-43.jpg', 'Лечение урологических заболеваний', 'Киста яичника, заболевания вульвы, опущение матки, опухоль яичника, вагинизм - распространенные женские заболевания, лечение которых обеспечит наша экспертиза')(class="item--big")
              .col-md-6.d-flex
                +item('item-44.jpg', 'Диагностика и профилактика', 'Лучшие специалисты-урологи будут привлечены для рассмотрения вашего случая. Для урологических заболеваний мы предоставляем услугу "Второе мнение" бесплатно.')(class="item--big")
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center.mb-45 Закажите диагностику и лечение урологических <br>заболеваний в партнерских клиниках DNP Line
            .row
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Анализ мочи
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 УЗИ
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Урофлоуметрия (измерение скорости мочеиспускания)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Цистоскопия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Биопсия простаты
              .col-lg-3.col-md-5
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление камней из мочевого пузыря
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Трансуретральная резекция простаты 
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Удаление опухоли яичка
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Простатэктомия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Цистэктомия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Простатэктомия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники направления «Урология»
            .d-flex.justify-content-center.mt-45
              a.btn.btn-primary(href="#") Получить консультацию
        .bg-white.my-20
          #other.section.border-bottom.py-50
            .wrapper__content
              h2.text-center.mb-45 Другие направления
              p.p--lg.text-center.mb-0 Мы постоянно расширяем каталог направлений лечения и привлекаем наиболее квалифицированных экспертов как в России, так и за ее пределами.
          .border-top.pt-45.pb-65
            .wrapper__content
              h3.text-center.mb-50 Закажите диагностику и лечение заболеваний <br>в партнерских клиниках DNP Line
            .row
              .col-lg-3.col-md-5.offset-lg-3.offset-md-1
                p.p--lg.px-20.px-md-0.text-center.text-lg-left A-K
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Аллергология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Бариатрическая хирургия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Гастроэнтерология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Диагностическая визуализация
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Диетология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Колоректальная медицина
                p.p--lg.mt-45.px-20.px-md-0.text-center.text-lg-left М-О
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Лабораторная диагностика
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Неврология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Нетрадиционная медицина
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Общая терапия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Общая хирургия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Отоларинголог (ЛОР)
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Офтальмология
              .col-lg-3.col-md-5
                p.p--lg.px-20.px-md-0.text-center.text-lg-left П-Я
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Профилактика болезней
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Пульмонология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Физиотерапия и реабилитация
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Спинальная хирургия
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Стоматология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Скорая медицинская помощь
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Эндокринология
                a.link.px-20.px-md-0(href="#")
                  p.font-weight-medium.mb-15 Все клиники
            .d-flex.justify-content-center.mt-45
              a.btn.btn-primary(href="#") Получить консультацию
  +order('Получить консультацию')
  +footer