extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Экстренная помощь', 'header--inner')
  +cover('cover-4.jpg', 'Получение экстренной помощи и госпитализация', 'Вы можете полностью доверить нам организацию срочной медицинской помощи и перевозки пациентов как в России, так и в других странах', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#emergency") Скорая помощь
                a.tabs__item(href="#aviation") Санитарная авиация
                a.tabs__item(href="#hospital") Подбор стационара
                a.tabs__item(href="#transfer") Перевод в другую больницу
                .tabs__underline
        .bg-white.mb-20
          #emergency.section.pt-45
            .border-bottom
              .wrapper__content
                h2.text-center.mb-45 Скорая медицинская помощь
              .row
                .col-10.offset-1
                  p.p--lg.text-center.mb-60 Гарантируем оперативное прибытие специализированной машины скорой помощи на место вызова. Опытные врачи сразу окажут первую помощь пациенту. DNP line организует экстренную госпитализацию в профильный стационар, где больному будет оказано необходимое лечение.
            .wrapper__content
              .row.mt-60
                .col-md-6.d-flex.mb-30
                  +item('item-7.jpg', 'Транспортировка больных', 'Наземная, воздушная и смешанная перевозка больных, находящихся в тяжелом и крайне тяжелом состоянии')(class="item--big")
                .col-md-6.d-flex.mb-30
                  +item('item-8.jpg', 'Выезд специальной бригады', 'В зависимости от ситуации мы гарантируем выезд реанимационной, акушерской, педиатрической и т.п. специализированной бригады')(class="item--big")
            .border-top.pt-45.pb-65
              .row
                .col-lg-6.offset-lg-3
                  h3.text-center.mb-45 Мы взаимодействуем с профильными медицинскими учреждениями на всех этапах оказания скорой медицинской помощи
                  .d-flex.justify-content-center
                    a.btn.btn-primary(href="#") Заказать онлайн
        #aviation.section.bg-white.my-20.pt-55
          .pb-60.border-bottom
            .wrapper__content
              h2.text-center.mb-45 Санитарная авиация
              p.p--lg.text-center.mb-0 DNP line предлагает все возможные виды эвакуации и транспортировки пациентов в России и зарубежных странах
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex.mb-30
                +item('item-9.jpg', 'Регулярные рейсы авиакомпаний', 'Пациента сопровождает медицинская бригада с размещением на борту реанимационного оборудования и кислорода')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-10.jpg', 'Санитарный самолет', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-11.jpg', 'Транспортный самолет', 'Пациента сопровождает медицинская бригада с размещением на борту реанимационного оборудования и кислорода')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-12.jpg', 'Санитарный самолет', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
          .border-top.pt-45.pb-60
            .row
              .col-lg-6.offset-lg-3
                h3.text-center.mb-55 Мы организуем медицинскую транспортировку пациентов как по территории России, так и за ее пределами
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        #hospital.section.bg-white.my-20
          .pt-55.pb-60.border-bottom
            .wrapper__content
              h2.text-center Госпитализация и подбор стационара
              p.p--lg.text-center.mb-0 DNP line организует  экстренную и плановую госпитализацию в лучшие стационары России
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex.mb-30
                +item('item-13.jpg', 'Подбор клиники', 'Пациента сопровождает медицинская бригада с размещением на борту реанимационного оборудования и кислорода')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-14.jpg', 'Оформление документов', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-15.jpg', 'Транспортировка', 'Пациента сопровождает медицинская бригада с размещением на борту реанимационного оборудования и кислорода')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-16.jpg', 'Работа с партнерами', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
          .border-top.pt-45.pb-60
            .row
              .col-lg-6.offset-lg-3
                h3.text-center.mb-45 Мы знаем, какие отделения, и в каких больницах работают по-настоящему профессионально и качественно
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        #transfer.section.bg-white.my-20
          .pt-55.pb-60.border-bottom
            .wrapper__content
              h2.text-center.mb-45 Перевод в другую больницу
              p.p--lg.text-center Плановая госпитализация осуществляется через 24 часа с момента получения запроса. <br>У Вас будет запас времени  для консультации с врачом и выбора подходящей клиники
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex.mb-30
                +item('item-17.jpg', 'Скорая медицинская помощь', 'Служба скорой помощи, оснащенная современным медицинским оборудованием, необходимым для поддержания стабильного состояния пациента во время перевозки')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-18.jpg', 'Подбор стационара', 'В соответствии с заболеванием, жалобами и состоянием пациента мы подберем лучший стационар для госпитализации и  согласуем его с Вами')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-19.jpg', 'Транспортировка', 'Удобная и безопасная транспортировка в лечебное учреждение с помощью медицинского автотранспорта или санитарной авиации')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-20.jpg', 'Работа с партнерами', 'Наши партнеры – крупнейшие федеральные и университетские клиники, зарекомендовавшие себя высоким качеством лечения и достойным уровнем сервиса')(class="item--big")
          .border-top.pt-45.pb-60
            .row
              .col-lg-6.offset-lg-3
                h3.text-center.mb-45 Мы знаем, какие отделения, и в каких больницах работают по-настоящему профессионально и качественно
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
  +order('Организовать лечение')
  +footer