extends ../templates/template.pug
block content
  +header
  +front
  .container
    .row
      .col-12
        h2.text-center.my-45 Наши услуги
    .row.mb-20
      .col-md-6.d-flex
        +item('item-1.jpg', 'Получите второе мнение от специалистов', 'Благодаря возможности получить второе мнение специалистов через DNP, вы сможете быть уверены в своем диагнозе и понять, какие у вас есть возможности лечения')
      .col-md-6.d-flex
        +item('item-2.jpg', 'Лечение в лучших клиниках по всему миру', 'Мы понимаем, насколько важно получить качественную медицинскую помощь, поэтому обеспечиваем приезд врача к пациенту в самые короткие сроки')
    .row.mb-sm-100.mb-20
      .col-md-4.d-flex
        +card('card-1.jpg', 'Организовать лечение', 'Перевозка и эвакуация больных по всему миру')
      .col-md-4.d-flex
        +card('card-2.jpg', 'Вызвать врача', 'Вызов врача из лучших клиник вашего города')
      .col-md-4.d-flex
        +card('card-3.jpg', 'Организовать лечение', 'Госпитализация')
  +partners('Нам доверяют', 'partner-1.png', 'partner-2.png', 'partner-3.png', 'partner-4.png', 'partner-5.png')
  +partners('О нас пишут', 'partner-1.png', 'partner-2.png', 'partner-3.png', 'partner-4.png', 'partner-5.png')
  +search('search--big')
  +help
  +footer