extends ../templates/template.pug
block content
  +header('', '', 'Спросить специалиста', 'header--inner')
  +cover('cover-12.jpg', 'Получите ответ эксперта DNP Line', 'Подготовим подтверждение или опровержение вашего диагноза в короткий срок', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#opinion") Второе экспертное медицинское мнение
                a.tabs__item(href="#patomorphology") Второе мнение в патоморфологии
                .tabs__underline
        .bg-white.mb-20
          #opinion.section.border-bottom.pt-45.pb-55
            .wrapper__content
              h2.text-center.mb-40 Второе экспертное медицинское мнение
              p.p--lg.text-center.mb-0 Второе мнение (second opinion) -  профессиональная медицинская консультация для подтверждения или опровержения поставленного диагноза и определения  существующих возможностей лечения.
          .wrapper__content
            .row.mt-60
              .col-md-6
                +item('item-55.jpg', 'Оперативность', 'Работаем в режиме 24/7. Ваша заявка будет обработана врачом-координатором сразу после получения')(class="item--big")
              .col-md-6
                +item('item-56.jpg', 'Экспертиза', 'Помогаем в сложных случаях. <br>При необходимости организуем консилиум врачей разного профиля для решения Вашей проблемы.')(class="item--big")
          .border-top
            .wrapper__content
              h3.text-center.my-50 В каких случаях требуется второе экспертное медицинское мнение
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Неуверенность в диагнозе
                .col-md-8
                  p.mb-0 Вы чувствуете, что нездоровы, но в Вашем медицинском учреждении не могут поставить верный диагноз
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Разные заключения о состоянии здоровья
                .col-md-8
                  p.mb-0 Если вы олучили разные заключения от нескольких врачей, и хотите услышать мнение ведущего специалиста в области лечения Вашего заболевания
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Состояние не улучшается несмотря на лечение
                .col-md-8
                  p.mb-0 Вы проходите курс лечения, но Ваше состояние не улучшается, и Вы хотите узнать о других возможностях борьбы с болезнью
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Подготовка к операции
                .col-md-8
                  p.mb-0 Вы готовитесь к операции и хотите подтвердить ее необходимость, а также узнать об альтернативных методах терапии
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Сомнение
                .col-md-8
                  p.mb-0 Вы хотите повысить психологическую уверенность в том, что лечение правильное
          .border-top.pt-45.pb-70
            .wrapper__content
              .row
                .col-md-6.offset-md-3
                  h3.text-center.mb-45 Второе экспертное мнение врача снижает риск ошибочного диагноза на 90%
                  p.text-center.mb-5 Стоимость программы 
                  h2.text-center.mb-20 от 30 000 руб.
                  .d-flex.justify-content-center
                    a.btn.btn-primary(href="#") Заказать онлайн
        #patomorphology.section.bg-white.my-20
          .border-bottom.pb-55.pt-40
            .wrapper__content
              h2.text-center.mb-40 Второе мнение в патоморфологии
              p.p--lg.text-center.mb-0 Если у Вас уже есть готовые гистологические стекла, но Вы желаете получить «второе мнение» высоковалифицированного патоморфолога - сделайте пересмотр гистологических стекол
          .wrapper__content
            .row.mt-60
              .col-md-6
                +item('item-57.jpg', 'Оперативность', 'Работаем в режиме 24/7. Ваша заявка будет обработана врачом-координатором сразу после получения')(class="item--big")
              .col-md-6
                +item('item-58.jpg', 'Экспертиза', 'Помогаем в сложных случаях. <br>При необходимости организуем консилиум врачей разного профиля для решения Вашей проблемы.')(class="item--big")
          .border-top
            .wrapper__content
              h3.text-center.my-50 В каких случаях требуется второе мнение в патоморфологии
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Неуверенность в диагнозе
                .col-md-8
                  p.mb-0 Вы чувствуете, что нездоровы, но в Вашем медицинском учреждении не могут поставить верный диагноз
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Разные заключения о состоянии здоровья
                .col-md-8
                  p.mb-0 Если вы олучили разные заключения от нескольких врачей, и хотите услышать мнение ведущего специалиста в области лечения Вашего заболевания
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Состояние не улучшается несмотря на лечение
                .col-md-8
                  p.mb-0 Вы проходите курс лечения, но Ваше состояние не улучшается, и Вы хотите узнать о других возможностях борьбы с болезнью
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Подготовка к операции
                .col-md-8
                  p.mb-0 Вы готовитесь к операции и хотите подтвердить ее необходимость, а также узнать об альтернативных методах терапии
              .row.mb-50
                .col-md-4.mb-20.mb-md-0
                  p.p--lg.font-weight-medium.mb-0 Сомнение
                .col-md-8
                  p.mb-0 Вы хотите повысить психологическую уверенность в том, что лечение правильное
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                .wrapper__content
                  h3.text-center.mb-45 Второе экспертное мнение врача снижает риск ошибочного диагноза на 90%
                  p.text-center.mb-5 Стоимость программы 
                  h2.text-center.mb-20 от 30 000 руб.
                  .d-flex.justify-content-center
                    a.btn.btn-primary(href="#") Заказать онлайн
  +order('Получить второе мнение')
  +footer