extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Личный врач', 'header--inner')
  +cover('cover-3.jpg', 'Личный врач', 'Внимание к незначительным проявлениям болезни и незамедлительная реакция на начальном этапе помогают избежать прогрессирования заболевания и могут полностью вернуть Ваше здоровье', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12
        h2.text-center.my-45 Организация диагностики и лечения
        .bg-white.py-50.my-20
          .border-bottom.px-20.pb-50
            h2.text-center.mb-45 Почему Личный врач?
            p.p--lg.mb-0.text-center Личный врач имеет налаженные контакты с большинством специалистов узкого профиля, <br>которые могут понадобиться пациенту в любой момент
          .wrapper__content
            .row.mt-60
              .col-md-6.d-flex.mb-30
                +item('item-3.jpg', 'Налаженная сеть контактов', 'Пациента сопровождает медицинская бригада с размещением на борту реанимационного оборудования и кислорода')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-4.jpg', 'Доступность 24/7', 'Доступен для контакта и консультации круглосуточно, семь дней в неделю, ведь болезни не возникают строго по будням с 9 до 18:00')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-5.jpg', 'Учет индивидуальных особенностей', 'Представьте доктора, который досконально знает Вас, как пациента, учитывает особенности Вашей наследственности')(class="item--big")
              .col-md-6.d-flex.mb-30
                +item('item-6.jpg', 'Доверие', 'Самолет, оборудованный всем необходимым для транспортировки реанимационных пациентов, вылетает в удобное для Вас время в любую точку России и мира')(class="item--big")
          .border-top.px-20.pt-50
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-55 Выбрать личного врача вы можете сами в отличие от того, к которому вы прикреплены в поликлинике по месту регистрации
                .d-flex.justify-content-center
                  a.btn.btn-primary.px-40(href="#") Заказать онлайн
  +order('Заказать услугу личный врач')
  +footer