extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Программы обследования и лечения', 'header--inner')
  +cover('cover-13.jpg', 'Программы обследования и лечения', 'Регулярное внимание к своему здоровью – основа долгой и счастливой жизни без серьезных заболеваний', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#man") Check up для мужчин
                a.tabs__item(href="#woman") Check up для женщин
                a.tabs__item(href="#cardio") Кардиологический Check up 
                a.tabs__item(href="#neuro") Неврологический Check up 
                a.tabs__item(href="#endo") Эндокринологический Check up 
                .tabs__underline
        .bg-white.mb-20
          #man.section.border-bottom.pt-45
            .wrapper__content
              h2.text-center.mb-45 Check up для мужчин
              p.p--lg.text-center.my-50 DNP line предлагает Вам сделать самую лучшую инвестицию – в свое здоровье и пройти полное обследование организма за 1-2 дня, без очередей, в лучших клиниках Москвы. Мы предложим удобное время для диагностики с учетом всех Ваших пожеланий. 
          ul.nav.nav-tabs#tabs1(role='tablist')
            li.nav-item
              a#standart1-tab.nav-link.active(data-toggle='tab', href='#standart1', role='tab', aria-selected='true') Стандарт
            li.nav-item
              a#maximum1-tab.nav-link(data-toggle='tab', href='#maximum1', role='tab', aria-selected='false') Максимум
          .tab-content#tabs1-content
            #standart1.tab-pane.fade.show.active(role='tabpanel')
              .wrapper__content
                .row.mt-60
                  .col-md-6
                    +item('item-55.jpg', 'Исследования', 'Набор инструментальных и лабораторных исследований для быстрого анализа состояния здоровья мужчины')
                  .col-md-6
                    +item('item-56.jpg', 'Консультации врачей', 'Прием у терапевта, андролога и ключевых врачей-специалистов для получения заключения о состоянии здоровья')
            #maximum1.tab-pane.fade(role='tabpanel')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Состав программы
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Выбирайте понравившуюся клинику, удобный для обследования день и начинайте заботу о себе с программы «Check Up» от DNP line
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 32 000 руб.
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        .bg-white.my-20
          #woman.section.border-bottom.pt-45
            .wrapper__content
              h2.text-center.mb-45 Check up для женщин
              p.p--lg.text-center.my-50 Каждая женщина прекрасна и уникальна. Одновременно с этим, она крайне ранима и уязвима для множества заболеваний. Женская привлекательность, настроение, самочувствие, сексуальная жизнь и долголетие напрямую связаны с состоянием здоровья
          ul.nav.nav-tabs#tabs2(role='tablist')
            li.nav-item
              a#standart2-tab.nav-link.active(data-toggle='tab', href='#standart2', role='tab', aria-selected='true') Стандарт
            li.nav-item
              a#maximum2-tab.nav-link(data-toggle='tab', href='#maximum2', role='tab', aria-selected='false') Максимум
          .tab-content#tabs2-content
            #standart1.tab-pane.fade.show.active(role='tabpanel')
              .wrapper__content
                .row
                  .col-md-6
                    +item('item-55.jpg', 'Исследования', 'Набор инструментальных и лабораторных исследований для быстрого анализа состояния здоровья мужчины')
                  .col-md-6
                    +item('item-56.jpg', 'Консультации врачей', 'Прием у терапевта, андролога и ключевых врачей-специалистов для получения заключения о состоянии здоровья')
            #maximum2.tab-pane.fade(role='tabpanel')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Состав программы
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Выбирайте понравившуюся клинику, удобный для обследования день и начинайте заботу о себе с программы «Check Up» от DNP line
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 32 000 руб.
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        .bg-white.my-20
          #cardio.section.border-bottom.pt-45
            .wrapper__content
              h2.text-center.mb-45 Кардиологический Check up 
              p.p--lg.text-center.my-50 Это комплексное обследование организма, направленное на раннюю диагностику сердечно-сосудистых заболеваний. Помимо консультаций узких специалистов и инструментальных методов исследования, оно включает генетический скрининг, который позволяет оценить риск возникновения атеросклероза и ишемической болезни сердца, а также выявляет предрасположенность к нарушению липидного обмена и свертывания крови
          ul.nav.nav-tabs#tabs3(role='tablist')
            li.nav-item
              a#standart3-tab.nav-link.active(data-toggle='tab', href='#standart3', role='tab', aria-selected='true') Стандарт
            li.nav-item
              a#maximum3-tab.nav-link(data-toggle='tab', href='#maximum3', role='tab', aria-selected='false') Максимум
          .tab-content#tabs3-content
            #standart1.tab-pane.fade.show.active(role='tabpanel')
              .wrapper__content
                .row
                  .col-md-6
                    +item('item-55.jpg', 'Исследования', 'Набор инструментальных и лабораторных исследований для быстрого анализа состояния здоровья мужчины')
                  .col-md-6
                    +item('item-56.jpg', 'Консультации врачей', 'Прием у терапевта, андролога и ключевых врачей-специалистов для получения заключения о состоянии здоровья')
            #maximum3.tab-pane.fade(role='tabpanel')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Состав программы
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Выбирайте понравившуюся клинику, удобный для обследования день и начинайте заботу о себе с программы «Check Up» от DNP line
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 32 000 руб.
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        .bg-white.my-20
          #neuro.section.border-bottom.pt-45
            .wrapper__content
              h2.text-center.mb-45 Неврологический Check up
              p.p--lg.text-center.my-50 Любые нервные потрясения не проходят бесследно. Они медленно начинают подтачивать наше здоровье, и в результате мы заболеваем. Можно ли полностью избежать стрессов, переживаний, всегда мыслить позитивно, не беспокоиться по пустякам? Конечно же, нет.  Но можно изучить возможности и резервы своей нервной системы и помочь ей справиться с возрастающими нагрузками.
          ul.nav.nav-tabs#tabs4(role='tablist')
            li.nav-item
              a#standart4-tab.nav-link.active(data-toggle='tab', href='#standart4', role='tab', aria-selected='true') Стандарт
            li.nav-item
              a#maximum4-tab.nav-link(data-toggle='tab', href='#maximum4', role='tab', aria-selected='false') Максимум
          .tab-content#tabs4-content
            #standart1.tab-pane.fade.show.active(role='tabpanel')
              .wrapper__content
                .row
                  .col-md-6
                    +item('item-55.jpg', 'Исследования', 'Набор инструментальных и лабораторных исследований для быстрого анализа состояния здоровья мужчины')
                  .col-md-6
                    +item('item-56.jpg', 'Консультации врачей', 'Прием у терапевта, андролога и ключевых врачей-специалистов для получения заключения о состоянии здоровья')
            #maximum4.tab-pane.fade(role='tabpanel')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Состав программы
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Выбирайте понравившуюся клинику, удобный для обследования день и начинайте заботу о себе с программы «Check Up» от DNP line
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 32 000 руб.
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        .bg-white.my-20
          #endo.section.border-bottom.pt-45
            .wrapper__content
              h2.text-center.mb-45 Эндокринологический Check up
              p.p--lg.text-center.my-50 Сахарный диабет - одно из наиболее широко распространенных заболеваний в мире. Каждый год количество больных увеличивается вдвое. Уровень развития современной медицины позволяет пациентам с диабетом жить долгой, счастливой и полной жизнью.
          ul.nav.nav-tabs#tabs5(role='tablist')
            li.nav-item
              a#standart5-tab.nav-link.active(data-toggle='tab', href='#standart5', role='tab', aria-selected='true') Стандарт
            li.nav-item
              a#maximum5-tab.nav-link(data-toggle='tab', href='#maximum5', role='tab', aria-selected='false') Максимум
          .tab-content#tabs5-content
            #standart1.tab-pane.fade.show.active(role='tabpanel')
              .wrapper__content
                .row
                  .col-md-6
                    +item('item-55.jpg', 'Исследования', 'Набор инструментальных и лабораторных исследований для быстрого анализа состояния здоровья мужчины')
                  .col-md-6
                    +item('item-56.jpg', 'Консультации врачей', 'Прием у терапевта, андролога и ключевых врачей-специалистов для получения заключения о состоянии здоровья')
            #maximum5.tab-pane.fade(role='tabpanel')
          .border-top.d-flex.justify-content-center.py-25
            a.btn.btn-link.btn-link--dark(href="#") Состав программы
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Выбирайте понравившуюся клинику, удобный для обследования день и начинайте заботу о себе с программы «Check Up» от DNP line
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 32 000 руб.
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
  +order('Организовать лечение')
  +footer