extends ../templates/template.pug
block content
  +header('', 'Организовать лечение', 'Медицинское сопровождение для всей семьи', 'header--inner')
  +cover('cover-11.jpg', 'Медицинское сопровождение для всей семьи', 'Обеспечение клиента качественными медицинскими услугами с максимальной экономией его времени и высоким уровнем комфорта', 'Заказать', 'cover--back cover--btn')(class="cover--back")
  .container
    .row
      .col-12.pt-20
        .scrollme
          .tabs
            .tabs__wrapper.animateme(data-when="element" data-from="0" data-to="1" data-easing="linear" data-translatey="-60")
              .tabs__content
                a.tabs__item.tabs__item--active(href="#individual") Индивидуальные программы
                a.tabs__item(href="#organization") Организация госпитализации
                a.tabs__item(href="#personal") Персональный ассистент
                .tabs__underline
        .bg-white.mb-20
          #individual.section.border-bottom.py-45
            .wrapper__content
              h2.text-center.mb-40 Индивидуальные программы
              p.p--lg.text-center.mb-0 Ваш личный врач знает о вашем здоровье всё, поэтому в вопросах принятия медицинских решений он более эффективен и полезен.Личный доктор будет сопровождать вас во время приемов, возьмет на себя беседы с врачами и понятно объяснит вам все, а также защитит ваши интересы в любой ситуации
          .wrapper__content
            .row.mt-60
              .col-md-6
                +item('item-45.jpg', 'Ответы на все вопросы', 'Работаем в режиме 24/7. Ваша заявка будет обработана врачом-координатором сразу после получения')(class="item--big")
              .col-md-6
                +item('item-46.jpg', 'Последовательная работа', 'Помогаем в сложных случаях. <br>При необходимости организуем консилиум врачей разного профиля для решения Вашей проблемы.')(class="item--big")
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Поручите решение сложных медицинских вопросов профессионалам для  поиска лучших клиник, врачей и методов, которые могли бы Вам помочь
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 14 000 руб. в месяц
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
        .bg-white.my-20
          #organization.section.border-bottom.py-45
            .wrapper__content
              h2.text-center.mb-40 Организация госпитализации
              p.p--lg.mb-0.text-center Ваш личный врач знает о вашем здоровье всё, поэтому в вопросах принятия медицинских решений он более эффективен и полезен. Личный доктор будет сопровождать вас во время приемов, возьмет на себя беседы с врачами и понятно объяснит вам все, а также защитит ваши интересы в любой ситуации
          .wrapper__content
            h3.text-center.my-50 Предложение и цены DNP Line
            .row.pb-50
              .col-md-4
                p.p--lg.font-weight-medium Организация госпитализации в профильное лечебно-профилактическое учреждение в ЛПУ-партнеров 1 категории сложности
              .col-md-8
                .cut
                  p Оориентировочное нахождение в стационаре до 10 дней или комплексное амбулаторное обследование: информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по мере получения информации от ЛПУ) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (стоимость транспортировки оплачивается отдельно), организация дополнительных методов обследования в других ЛПУ при необходимости (стоимость Оориентировочное нахождение в стационаре до 10 дней или комплексное амбулаторное обследование: информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по мере получения информации от ЛПУ) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (стоимость транспортировки оплачивается отдельно), организация дополнительных методов обследования в других ЛПУ при необходимости (стоимость Оориентировочное нахождение в стационаре до 10 дней или комплексное амбулаторное обследование: информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по мере получения информации от ЛПУ) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (стоимость транспортировки оплачивается отдельно), организация дополнительных методов обследования в других ЛПУ при необходимости (стоимость 
                  a.cut__btn(href="#")
                p.p--lg.font-weight-medium.mb-0 Стоимость от 56 000 руб.
            .row.pb-50
              .col-md-4
                p.p--lg.font-weight-medium Организация госпитализации в профильное лечебно-профилактическое учреждение в ЛПУ-партнеров 2 категории сложности
              .col-md-8
                .cut
                  p Ориентировочное нахождение в стационаре до 14 дней: информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по мере получения информации от ЛПУ) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (стоимость транспортировки оплачиваться отдельно), организация дополнительных методов обследования в других ЛПУ при необходимости (стоимость обследования оплачивается отдельно), привлечение врачей специалистов из других учреждений при необходимости (стоимость консультации 
                  a.cut__btn(href="#")
                p.p--lg.font-weight-medium.mb-0 Стоимость от 78 000 руб.
            .row.pb-50
              .col-md-4
                p.p--lg.font-weight-medium Организация госпитализации в профильное лечебно-профилактическое учреждение в ЛПУ-партнеров 3 категории сложности
              .col-md-8
                .cut
                  p Ориентировочное нахождение в стационаре до 18 дней: информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по мере получения информации от ЛПУ) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (стоимость транспортировки оплачиваться отдельно), организация дополнительных методов обследования в других ЛПУ при необходимости (стоимость обследования оплачивается отдельно), привлечение врачей 
                  a.cut__btn(href="#")
                p.p--lg.font-weight-medium.mb-0 Стоимость от 130 000 руб.
            .row.pb-50
              .col-md-4
                p.p--lg.font-weight-medium Организация госпитализации в профильное лечебно-профилактическое учреждение в ЛПУ-партнеров 4 категории сложности
              .col-md-8
                .cut
                  p Информационно-аналитическая работа с медицинским запросом, согласование госпитализации, бронирование палаты, информирование контактного лица пациента о ходе диагностики и лечения по телефону (по индивидуальному запросу) с 9 до 18 часов, организация транспортировки специализированным транспортом в стационар (если требуется), организация дополнительных методов обследования в других ЛПУ при необходимости (если требуется), привлечение врачей специалистов из других учреждений при необходимости (если требуется), сопровождение сотрудником компании во время 
                  a.cut__btn(href="#")
                p.p--lg.font-weight-medium.mb-0 Индивидуальный расчет
        .bg-white.my-20
          #personal.section.border-bottom.py-45
            .wrapper__content
              h2.text-center.mb-45 Персональный медицинский ассистент
              p.p--lg.text-center.mb-0 Для нашей страны возможность сдать анализы на дому — относительная новинка в сфере медицинского обслуживания. <br>Однако в Европе такой сервис известен очень давно
          .wrapper__content
            .row.mt-60
              .col-md-6
                +item('item-47.jpg', 'Эксперт', 'Врач, ориентированный в вашем медицинском случае, имеющий должную подготовку, владеющий ситуацией  и помогающий вам в принятии верного решения')(class="item--big")
              .col-md-6
                +item('item-48.jpg', 'Ответственность', 'Врач, курирующий вас при сложном или ответственном лечении в одной из партнерских клиник')(class="item--big")
              .col-md-6
                +item('item-49.jpg', 'Контакт', 'Врач, которому можно позвонить через год или два при необходимости и спросить, как правильно поступить в том или ином случае')(class="item--big")
              .col-md-6
                +item('item-50.jpg', 'Доверие', 'Результат расшифрует врач и проконсультирует по телефону')(class="item--big")
          .border-top
            .wrapper__content
              h3.text-center.my-50  В каких случаях требуется персональный медицинский ассистент
              .row.pb-50
                .col-md-4
                  p.p--lg.font-weight-medium Сложный случай
                .col-md-8
                  p Медицинский случай сложен, и вам трудно самостоятельно ответить на вопросы, как и где лучше лечить, какое решение оптимально принять. Например, многоэтапное лечение при онкологическом заболевании, выбор клиники, метода операции и типа эндопротеза при протезировании крупных суставов, ведение пациентов с тяжелыми хроническими заболеваниями.
              .row.pb-50
                .col-md-4
                  p.p--lg.font-weight-medium Доверие экспертам
                .col-md-8
                  p Вы хотите поручить решение медицинских вопросов профессионалам, и не хотите сами тратить время и силы на вхождение в проблему. Не хотите заниматься поиском лучших клиник, врачей и методов, которые могли бы Вам помочь.
              .row.pb-50
                .col-md-4
                  p.p--lg.font-weight-medium Вопросы не решены
                .col-md-8
                  p Вы уже пытались решать тот или иной медицинский вопрос самостоятельно, но не получили результатов и понимания что с Вами происходит. Вас продолжают посылать от одного врача к другому, но проблемы и вопросы не решаются.
          .border-top
            .wrapper__content
              h3.text-center.my-50 Индивидуальная и проблемно-ориентированная медицина
              .row.mt-60
                .col-md-6
                  +item('item-51.jpg', 'Ответы на все медицинские вопросы', 'Теперь у вас есть специалист, к которому всегда можно обратится по любому медицинскому вопросу, пройти диагностику и обследования, назначить лечение или просто посоветоваться.')(class="item--big")
                .col-md-6
                  +item('item-52.jpg', 'Ваш персональный доктор', 'Ваш личный врач знает о вашем здоровье всё, поэтому в вопросах принятия медицинских решений он более эффективен и полезен.')(class="item--big")
                .col-md-6
                  +item('item-53.jpg', 'Последовательная работа', 'Сначала личный доктор проанализирует результаты прошлых обращений и новых жалоб, чтобы составить индивидуальный план обследования. Затем он организует прохождение лечебных и диагностических мероприятий у ведущих специалистов')(class="item--big")
                .col-md-6
                  +item('item-54.jpg', 'Личное участие в судьбе пациента', 'Личный доктор будет сопровождать вас во время приемов, возьмет на себя беседы с врачами и понятно объяснит вам все, а также защитит ваши интересы в любой ситуации.')(class="item--big")
          .border-top.pt-45.pb-70
            .row
              .col-md-6.offset-md-3
                h3.text-center.mb-45 Закажите услугу персонального медицинского ассистента
                p.text-center.mb-5 Стоимость программы 
                h2.text-center.mb-20 от 30 000 руб. в месяц
                .d-flex.justify-content-center
                  a.btn.btn-primary(href="#") Заказать онлайн
  +order('Организовать лечение')
  +footer