extends ../templates/template.pug
block content
  +header
  .container
    .row
      .col-12
        h2.text-center.mt-35.mb-30 Персональный медицинский помощник
        .wrapper__content
          +question('1.', 'Какие документы нужны для оформления ипотеки по сниженной процентной ставке?', 'question-1.jpg')(class="question--done question--inactive")
          +question('2.', 'Кому лучше всего подходит классический ипотечный кредит с пониженной процентной ставкой?', 'question-1.jpg')(class="question--done question--inactive")
          +question('3.', 'Какие документы нужны для оформления ипотеки по сниженной процентной ставке?', 'question-1.jpg')
          +question('4.', 'Кому лучше всего подходит классический ипотечный кредит с пониженной процентной ставкой?', 'question-1.jpg')(class="question--inactive")
        .bg-white.border-radius.my-20.pt-45.pb-55
          .wrapper__content
            h2.text-center.mb-45 Вот что мы рекомендуем
            p.p--lg.text-center.mb-50 Гарантируем оперативное прибытие специализированной машины скорой помощи на место вызова. Опытные врачи сразу окажут первую помощь пациенту. DNP line организует экстренную госпитализацию в профильный стационар, где больному будет оказано необходимое лечение.
          .d-flex.justify-content-center
            a.btn.btn-primary(href="#") Получить консультацию
  +footer