extends ../templates/template.pug
block content
  +header('', '', 'Организовать лечение', 'header--inner')
  +cover('cover-2.jpg', 'Мы работаем с ведущими центрами и врачами, для которых медицина — это прежде всего призвание', '', '', 'cover--title')
  .container
    .row
      .col-12
        h2.text-center.my-45 Организация диагностики и лечения
    .row.mb-60
      .col-lg-4.col-md-6.d-flex
        +program('program-1.jpg', 'Программы обследования и лечения', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.col-md-6.d-flex
        +program('program-2.jpg', 'Экстренная помощь', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.col-md-6.d-flex
        +program('program-3.jpg', 'Медицинское сопровождение для всей семьи', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.col-md-6.d-flex
        +program('program-4.jpg', 'Личный врач', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.col-md-6.d-flex
        +program('program-5.jpg', 'Лечение за рубежом', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
      .col-lg-4.col-md-6.d-flex
        +program('program-6.jpg', 'Направления лечения', 'Медицинский персонал, работающий в составе бригады скорой помощи имеет необходимую квалификацию, клинический опыт, на реамобилях работают врачи реаниматологи с опытом работы 5-10-15 и более лет.')
  +search('search--big')
  +help
  +footer