.logo {
  position: fixed;
  left: 40px;
  top: 0;
  width: 120px;
  height: 120px;
  background: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @include media-breakpoint-down(lg) {
    left: 20px;
  }

  @include media-breakpoint-down(sm) {
    width: 60px;
    height: 60px;
  }

  @include media-breakpoint-down(sm) {
    left: 10px;
  }
  
  &__header {
    font-family: 'Circular Std', 'Arial', sans-serif;
    height: 60px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      height: auto;
      line-height: normal;
      font-size: 20px;
    }
    
    &:after {
      content: '';
      display: block;
      width: 44px;
      height: 1px;
      background: #fff;
      flex-shrink: 0;

      @include media-breakpoint-down(sm) {
        margin: 5px 0;
      }
    }
  }
  
  &__subheader {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 2.5px;
    color: #fff;
    text-align: center;

    @include media-breakpoint-down(sm) {
//      display: none;
      height: auto;
      line-height: normal;
      font-size: 10px;
      letter-spacing: 0;
    }
  }
}
