.front {
  position: relative;
  
  &__content {
    
  }
  
//  .cover {
//    position: relative;
//  
//    &:after {
//      content: '';
//      display: block;
//      width: 0;
//      height: 3px;
//      position: absolute;
//      bottom: 0;
//      left: 0;
//      background: $primary;
//      transition: all 3s linear;
//    }
//    
//    &.slick-active {
//      
//      &:after {
//        width: 100%;
//      }
//    }
//  }
  
  &__progress {
    width: 100%;
    height: 3px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  &__progress-content {
      width: 0;
      height: 3px;
      background: $primary;
  }
}
