mixin front(modifier)
  .front&attributes(attributes)
    .front__content
      +cover('cover-1.jpg', 'Cоединяем докторов и пациентов для получения высокотехнологичных медицинских услуг на высочайшем уровне', 'Вместе с нашими консультантами вы сможете подобрать и рассчитать индивидуальную программу лечения', 'Подробнее', 'cover--btn')
      +cover('cover-2.jpg', 'Cоединяем докторов и пациентов для получения высокотехнологичных медицинских услуг на высочайшем уровне', 'Вместе с нашими консультантами вы сможете подобрать и рассчитать индивидуальную программу лечения', 'Подробнее', 'cover--btn')
      +cover('cover-3.jpg', 'Cоединяем докторов и пациентов для получения высокотехнологичных медицинских услуг на высочайшем уровне', 'Вместе с нашими консультантами вы сможете подобрать и рассчитать индивидуальную программу лечения', 'Подробнее', 'cover--btn')
      +cover('cover-4.jpg', 'Cоединяем докторов и пациентов для получения высокотехнологичных медицинских услуг на высочайшем уровне', 'Вместе с нашими консультантами вы сможете подобрать и рассчитать индивидуальную программу лечения', 'Подробнее', 'cover--btn')
    .front__progress
      .front__progress-content