mixin custom-radio(id, label, modifier)
  .custom-radio.custom-checkbox&attributes(attributes)
    input.custom-control-input(type='radio', id=id, name="answer")
    label.custom-control-label(for=id)= label