.custom-radio {
  padding-left: 27px;
  margin-bottom: 15px;
  
  .custom-control-input {
    
    &:focus {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:before, &:after {
          box-shadow: none;
        }
      }
    }
    
    &:checked {
      
      & ~ .custom-control-label {
        color: $secondary;
        
        &:after {
          background-image: none!important;
          background-color: $secondary!important;
          background: url(../img/dot.svg) no-repeat center!important;
          background-size: contain!important;
        }
      }
    }
  }
  
  .custom-control-label {
    color: $secondary;
    font-size: 14px;
    
    &:before {
      width: 15px;
      height: 15px;
      border: 1px solid $secondary;
      border-radius: 0;
      background: transparent!important;
      border-radius: 50%;
      margin-top: -2px;
      left: -27px;
    }
    
    &:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-top: -2px;
      left: -27px;
      background: transparent;
      background-image: none!important;
    }
  }
}
