.clinic {
  padding: 20px 20px 50px;
  display: flex;
  border-bottom: 1px solid $border-color;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  &__picture-wrapper {
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  &__picture {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: block;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  &__title {
    display: block;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
  
  &__city {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  
  &__rating-header {
    color: $secondary;
    font-size: 14px;
    margin-left: 10px;
  }
  
  &__footer {

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &--vertical {
    margin-bottom: 65px;
    flex-direction: column;
    padding: 0;
    border-bottom: 0;
    width: 100%;
    
    .clinic__picture-wrapper {
      margin-bottom: 25px;
      margin-right: 0;
      border-radius: 0;
    }
    
    .clinic__picture {
      height: 200px;
      width: 100%;
      border-radius: 0;
    }
    
    .clinic__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .clinic__content-top {
      flex-grow: 1;
    }
    
    .clinic__footer {
      
    }
  }
}