mixin clinic(picture, title, modifier)
  .clinic&attributes(attributes)
    .clinic__picture-wrapper
      a.clinic__picture(style="background-image: url(./img/" + picture + ");", href="#")
    .clinic__content
      .clinic__content-top
        a.clinic__title(href="#")
          h3.mb-0= title
        p.clinic__city Германия, Берлин
        .clinic__rating
          +stars('stars__item--full', 'stars__item--full', 'stars__item--full', 'stars__item--full', '')
          span.clinic__rating-header (5 отзывов)
        p.mb-20 Lassnitzhohe Private Clinic is part of the SANLAS Holding group, one of the leading companies in the provision of health services in Austria
      .clinic__footer
        a.btn.btn-outline-primary.btn-sm(href="#") Запрос стоимости
        a.btn.btn-link.btn-sm(href="#") Подробнее о клинике