mixin country(picture, title, modifier)
  a.country(href="#")&attributes(attributes)
    .country__picture
      .country__picture-content(style="background-image: url(./img/" + picture + ");")
    h3.mt-30.mb-0= title