.country {
  margin-bottom: 35px;
  display: block;

  &:hover {
    
    .country__picture-content {
      transform: scale(1.05);
    }
  }
  
  &__picture {
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  
  &__picture-content {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transition;
  }
}
