mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#") Весь сайт
    .menu__wrapper
      .menu__content
        .container
          .row
            .col-md-6
              .menu__section
                .menu__section-picture(style="background-image: url(./img/menu-1.jpg);")
                .menu__section-content
                  h3
                    a(href="#") Вызов врача
                  a.menu__item(href="#")
                    p.mb-0 Вызов врача на дом
                  a.menu__item(href="#")
                    p.mb-0 Обследования и процедуры на дому
                  a.menu__item(href="#")
                    p.mb-0 Прием анализов на дому
            .col-md-6
              .menu__section
                .menu__section-picture(style="background-image: url(./img/menu-2.jpg);")
                .menu__section-content
                  h3
                    a(href="#") Получить консультацию
                  a.menu__item(href="#")
                    p.mb-0 Срочный вопрос
                  a.menu__item(href="#")
                    p.mb-0 Второе мнение
            .col-md-6
              .menu__section
                .menu__section-picture(style="background-image: url(./img/menu-3.jpg);")
                .menu__section-content
                  h3
                    a(href="#") Организовать лечение
                  a.menu__item(href="#")
                    p.mb-0 Программы обследования и лечения
                  a.menu__item(href="#")
                    p.mb-0 Экстренная помощь
                  a.menu__item(href="#")
                    p.mb-0 Медицинское сопровождение для всей семьи
                  a.menu__item(href="#")
                    p.mb-0 Личный врач
                  a.menu__item(href="#")
                    p.mb-0 Лечение за рубежом
                  a.menu__item(href="#")
                    p.mb-0 Направления лечения
            .col-md-6
              .menu__section
                .menu__section-picture(style="background-image: url(./img/menu-4.jpg);")
                .menu__section-content
                  h3
                    a(href="#") Экстренная помощь
                  a.menu__item(href="#")
                    p.mb-0 Скорая помощь
                  a.menu__item(href="#")
                    p.mb-0 Выездная диагностика
                  a.menu__item(href="#")
                    p.mb-0 Эвакуация из других стран