.menu {
  
  &__btn {
    display: flex;
    align-items: baseline;
    font-size: 15px;
    color: $secondary;
    font-weight: 500;
    position: relative;
    z-index: 1;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 10px;
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
      margin-right: 12px;
    }
    
    &--active {
      
      &:before {
        background: url(../img/close.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &__wrapper {
    display: none;
    
    &--active {
      display: flex;
      position: fixed;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  
  &__content {
    background: #f9f9f9;
    width: 100%;
    padding-left: 148px;
    padding-top: 50px;
    overflow: auto;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 20px;
    }
  }
  
  &__section {
    margin-bottom: 75px;
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }
  
  &__section-picture {
    margin-right: 55px;
    flex-shrink: 0;
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__section-content {
    
  }
  
  &__item {
    display: block;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &+& {
      margin-top: 15px;
    }
  }
}