.wrapper {
  padding-top: 120px;

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  
  &__content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(lg) {
      padding: 0 20px;
    }
  }
}
