.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #ebf0f4;
    padding-left: 188px;
    padding-right: 40px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
      padding-left: 168px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 90px;
    }
  }
  
  &__top-right {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__settings {
    margin-right: 25px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  
  &__settings-btn {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $secondary;
    font-weight: 500;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 5px;
      background: url(../img/triangle.svg) no-repeat;
      background-size: contain;
      margin-left: 10px;

      @include media-breakpoint-down(md) {
        flex-shrink: 0;
      }
    }
  }
  
  &__phone {
    font-size: 15px;
    color: $secondary;
    font-weight: 500;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
  }
  
  &__bottom {
    height: 60px;
    background: #f9f9f9;
    padding-left: 188px;
    padding-right: 40px;

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
      padding-left: 168px;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    &--white {
      background: #fff;
    }
  }
  
  &__bottom-wrapper {
    height: 100%;
    position: relative;
    z-index: 0;
    
    &--hidden {
      display: none;
    }
  }
  
  &__bottom-initial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  
  &__sections-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
  
  &__link {
    font-size: 14px;
    color: #506977;
    display: flex;
    align-items: center;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: $secondary;
    }
    
    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $secondary;
      margin: 0 10px;
    }
    
    &:last-child {
      
      &:after {
        display: none;
      }
    }
  }
  
  &__settings-content {
    display: none;
    
    &--active {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        background: #f9f9f9;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding-bottom: 20px;
      }
    }
  }
  
  &__settings-item {
    display: flex;
    align-items: center;
    border-left: 1px solid $border-color;
    min-width: 160px;

    @include media-breakpoint-down(sm) {
      justify-content: space-between;
    }
  }
  
  &__settings-item-select {
    width: 100%;
  }

  &__settings-close {
    width: 16px;
    height: 16px;
    background: url(../img/close.svg) no-repeat;
    background-size: contain;
    display: block;
    margin-left: 20px;
    @include transition;

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
    }
    
    &:hover {
      opacity: .7;
    }
  }
}