mixin header(breadcrumbs1, breadcrumbs2, breadcrumbs3, modifier)
  .header&attributes(attributes)
    .header__top
      +menu
      .header__top-right
        .header__settings
          a.header__settings-btn.header__settings-trigger(href="#") Russian – Руб.
        a.header__phone(href="tel:+74952152353") +7 495 215 23 53
    .header__bottom
      .header__bottom-wrapper
        if modifier == 'header--inner'
          +breadcrumbs(breadcrumbs1, breadcrumbs2, breadcrumbs3)
        .header__bottom-initial
          .header__sections-wrapper
            a.header__link(href="#") Вызвать врача
            a.header__link(href="#") Организовать лечение
            a.header__link(href="#") Спросить специалиста
            a.header__link(href="#") Получить экстренную помощь
          //a.header__link(href="#") Вход
      form.header__settings-content(action="#", method="POST")
        .header__settings-item
          .select.header__settings-item-select
            select.select__input
              option Английский
              option Турецкий
              option Вьетнамский
              option Панамский
              option Сицилийский
              option Португальский
              option(selected) Русский
              option Английский
              option Турецкий
              option Вьетнамский
              option Панамский
              option Сицилийский
              option Португальский
        .header__settings-item
          .select.header__settings-item-select
            select.select__input
              option(selected) Руб. - Рубли
              option $ - USD
              option € - EUR
        .header__settings-item.pl-20
          button.btn.btn-outline-secondary.btn-sm(type="submit") Применить
          a.header__settings-close.header__settings-trigger(href="#")