.form {
  
  &__item {
    position: relative;
    margin-bottom: 30px;
  }
  
  &__item-input {
    
    &:focus, &--active {
      
      & ~ .form__item-label {
        font-size: 10px;
        bottom: 38px;
      }
    }
  }
  
  &__item-label {
    font-size: 17px;
    color: $secondary;
    position: absolute;
    bottom: 5px;
    @include transition;
    margin-bottom: 0;
    line-height: 1.76;
  }
}